{{ if or ( eq .chezmoi.os "windows" ) ( eq .chezmoi.os "linux" ) -}}
{{ if lookPath "cargo" -}}
[source.crates-io]
replace-with = 'mirror'

[source.mirror]
registry = "sparse+https://mirrors.cernet.edu.cn/crates.io-index/"

[registries.mirror]
index = "sparse+https://mirrors.cernet.edu.cn/crates.io-index/"
{{ end -}}
{{ end -}}
