{{ if eq .chezmoi.os "windows" -}}
{{ if lookPath "aria2c" -}}
allow-overwrite=false
allow-piece-length-change=true
always-resume=false
auto-file-renaming=true
auto-save-interval=20
bt-detach-seed-only=true
bt-enable-lpd=true
bt-force-encryption=true
bt-hash-check-seed=true
bt-load-saved-metadata=true
bt-max-peers=128
bt-prioritize-piece=head=32M,tail=32M
bt-remove-unselected-file=true
bt-request-peer-speed-limit=10M
bt-save-metadata=true
bt-seed-unverified=false
bt-tracker-connect-timeout=10
bt-tracker-timeout=10
connect-timeout=10
console-log-level=warn
content-disposition-default-utf8=true
continue=true
dht-entry-point=dht.transmissionbt.com:6881
dht-entry-point6=dht.transmissionbt.com:6881
dht-file-path={{ env "userprofile" }}\.aria2\dht.dat
dht-file-path6={{ env "userprofile" }}\.aria2\dht6.dat
disable-ipv6=true
disk-cache=64M
enable-dht=true
enable-dht6=false
enable-http-pipelining=true
enable-peer-exchange=true
enable-rpc=false
file-allocation=none
follow-torrent=true
force-save=false
http-accept-gzip=true
lowest-speed-limit=0
max-concurrent-downloads=5
max-connection-per-server=16
max-download-limit=0
max-file-not-found=10
max-overall-download-limit=0
max-overall-upload-limit=2M
max-resume-failure-tries=0
max-tries=0
max-upload-limit=0
min-split-size=4M
no-file-allocation-limit=64M
no-netrc=true
pause-metadata=false
peer-agent=Deluge 1.3.15
peer-id-prefix=-DE13F0-
piece-length=1M
quiet=false
remote-time=true
retry-wait=10
reuse-uri=false
rpc-allow-origin-all=true
rpc-listen-all=true
rpc-listen-port=6800
rpc-max-request-size=10M
rpc-save-upload-metadata=true
rpc-secret={{ gopass "aria2/rpc" }}
save-session-interval=1
seed-ratio=1.000000
seed-time=0
split=64
summary-interval=0
timeout=10
user-agent=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/93.0.4577.63 Safari/537.36 Edg/93.0.961.47
{{ end -}}
{{ end -}}
