{{ if or (eq .chezmoi.os "windows") (eq .chezmoi.os "linux") -}}
{{ if lookPath "emacs" -}}
[".emacs.d"]
    type = "git-repo"
    url = "https://mirror.nju.edu.cn/git/doom-emacs.git/"
{{ end -}}
{{ end -}}
