{{ if or (eq .chezmoi.os "linux") (eq .chezmoi.os "android") -}}
{{ if lookPath "bash" -}}
[".local/lib/ble-nightly"]
    type = "archive"
    url = "https://github.com/akinomyoga/ble.sh/releases/download/nightly/ble-nightly.tar.xz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
{{ end -}}
{{ end -}}
{{ if eq .chezmoi.os "windows" -}}
{{ if lookPath "codium" -}}
[".cache/vscodium/extensions/vsnetrw.vsix"]
    type = "file"
    url = "https://github.com/danprince/vsnetrw/releases/download/v0.3.2/vsnetrw-0.3.2.vsix"
{{ end -}}
{{ end -}}
{{ if eq .chezmoi.os "windows" "linux" "android" -}}
{{ if lookPath "emacs" -}}
[".emacs.d"]
    type = "git-repo"
    url = "https://mirror.nju.edu.cn/git/doom-emacs.git/"
{{ end -}}
{{ end -}}
{{ if eq .chezmoi.os "windows" -}}
{{ if lookPath "mpv" -}}
{{ end -}}
{{ end -}}
{{ if or (eq .chezmoi.os "linux") (eq .chezmoi.os "android") -}}
{{ if and (hasKey .chezmoi.osRelease "name") (ne .chezmoi.osRelease.name "Void") -}}
[".local/share/fonts/nerdsymbols"]
    type = "archive"
    url = "https://github.com/ryanoasis/nerd-fonts/releases/download/v3.4.0/NerdFontsSymbolsOnly.tar.xz"
    exact = true
    include = [ "*.ttf" ]
{{ end -}}
{{ end -}}
{{ if or (eq .chezmoi.os "linux") (eq .chezmoi.os "android") -}}
[".local/share/fonts/maple"]
    type = "archive"
    url = "https://github.com/subframe7536/maple-font/releases/download/v7.9/MapleMono-NF-CN.zip"
    exact = true
    include = [ "*.ttf" ]
{{ end -}}
{{ if eq .chezmoi.os "windows" -}}
{{ if lookPath "psmux" -}}
[".psmux/plugins"]
    type = "git-repo"
    url = "https://github.com/psmux/psmux-plugins"
{{ end -}}
{{ end -}}
{{ if eq .chezmoi.os "windows" -}}
{{ if lookPath "clink" -}}
["AppData/Local/clink/clink-gizmos"]
    type = "git-repo"
    url = "https://github.com/chrisant996/clink-gizmos"
    refreshPeriod = "168h"

["AppData/Local/clink/clink-completions"]
    type = "git-repo"
    url = "https://github.com/vladimir-kotikov/clink-completions"
    refreshPeriod = "168h"
{{ end -}}
{{ end -}}
{{ if or (eq .chezmoi.os "linux") (eq .chezmoi.os "android") -}}
{{ if lookPath "awesome" -}}
[".config/awesome-copycats"]
    type = "git-repo"
    url = "https://github.com/lcpz/awesome-copycats"
{{ end -}}
{{ end -}}
