{{ if eq .chezmoi.os "linux" -}}
[".local/share/fonts/nerdsymbols"]
    type = "archive"
    url = "https://github.com/ryanoasis/nerd-fonts/releases/download/v3.4.0/NerdFontsSymbolsOnly.tar.xz"
    exact = true
    include = [ "*.ttf" ]
{{ end -}}
