{{ if lookPath "vim" -}}
[".vim/pack/align/opt/align"]
    type = "git-repo"
    url = "https://github.com/vim-scripts/Align.git"
    stripComponents = 1
    refreshPeriod = "168h"
[".vim/pack/align/opt/tabular"]
    type = "git-repo"
    url = "https://github.com/godlygeek/tabular.git"
    stripComponents = 1
    refreshPeriod = "168h"
[".vim/pack/align/opt/vim-easy-align"]
    type = "git-repo"
    url = "https://github.com/junegunn/vim-easy-align.git"
    stripComponents = 1
    refreshPeriod = "168h"
[".vim/pack/align/opt/vim-lion"]
    type = "git-repo"
    url = "https://github.com/tommcdo/vim-lion.git"
    stripComponents = 1
    refreshPeriod = "168h"
[".vim/pack/bookmarks/opt/vim-bookmarks"]
    type = "git-repo"
    url = "https://github.com/MattesGroeger/vim-bookmarks.git"
    stripComponents = 1
    refreshPeriod = "168h"
[".vim/pack/auto-save/start/vim-auto-save"]
    type = "git-repo"
    url = "https://github.com/907th/vim-auto-save.git"
    stripComponents = 1
    refreshPeriod = "168h"
[".vim/pack/command/start/traces-vim"]
    type = "git-repo"
    url = "https://github.com/markonm/traces.vim.git"
    stripComponents = 1
    refreshPeriod = "168h"
[".vim/pack/command/start/vimsuggest"]
    type = "git-repo"
    url = "https://github.com/girishji/vimsuggest.git"
    stripComponents = 1
    refreshPeriod = "168h"
{{ end -}}
