{{ if lookPath "vim" -}}
[".vim/pack/align/opt/align"]
    type = "git-repo"
    url = "https://github.com/vim-scripts/Align.git"
    stripComponents = 1
    refreshPeriod = "168h"
[".vim/pack/align/opt/tabular"]
    type = "git-repo"
    url = "https://github.com/godlygeek/tabular.git"
    stripComponents = 1
    refreshPeriod = "168h"
[".vim/pack/align/opt/vim-easy-align"]
    type = "git-repo"
    url = "https://github.com/junegunn/vim-easy-align.git"
    stripComponents = 1
    refreshPeriod = "168h"
{{ end -}}
