{{ if or (eq .chezmoi.os "linux") (eq .chezmoi.os "android") -}}
{{ if lookPath "vim" -}}
[".vim/autoload/plug.vim"]
    type = "file"
    url = {{ .my.vim.plugins.vim_plug.init | quote }}
    refreshPeriod = "168h"
{{ end -}}
{{ end -}}
{{ if eq .chezmoi.os "windows" -}}
{{ if lookPath "vim" -}}
["vimfiles/autoload/plug.vim"]
    type = "file"
    url = {{ .my.vim.plugins.vim_plug.init | quote }}
    refreshPeriod = "168h"
{{ end -}}
{{ end -}}
