{{ if eq .chezmoi.os "windows" -}}
{{ if lookPath "pet" -}}
{{ $username := dict -}}
{{ $username = set $username "windows" "user" -}}
{{ $username = set $username "linux" "zxc" -}}
{{ $termux := dict -}}
{{ $termux = set $termux "note20" (dict "port" 8022 "user" "u0_a650" "ip" (ternary "192.168.1.106" "192.168.123.232" (eq .chezmoi.hostname "work" "work2"))) -}}
{{ $termux = set $termux "note20_adb" (dict "port" 8023 "user" $termux.note20.user "ip" "localhost") -}}
{{ $termux = set $termux "m6" (dict "port" 8022 "user" "u0_a556" "ip" (ternary "192.168.1.103" "192.168.123.191" (eq .chezmoi.hostname "work" "work2"))) -}}
{{ $termux = set $termux "m6_adb" (dict "port" 8022 "user" $termux.m6.user "ip" "localhost") -}}
{{ $termux_home := "/data/data/com.termux/files/home" -}}
{{ $windows_home := print "/C:/Users/" $username.windows -}}
{{ $linux_home := print "/home/" $username.linux -}}
{{ $ip := dict -}}
{{ $ip = set $ip "brix" (dict "ip" "192.168.123.206" "port" "22" "user" $username.linux) -}}
{{ $ip = set $ip "home" (dict "ip" "192.168.123.100" "port" "22" "user" $username.linux) -}}
{{ $ip = set $ip "soft" (dict "ip" "192.168.123.206" "port" "23231" "user" $username.linux) -}}
{{ $ip = set $ip "nuc" (dict "ip" "192.168.123.123" "port" "22" "user" $username.windows) -}}

{{ $work_ip := "100.127.103.95" -}}
{{ if eq .chezmoi.hostname "work" "work2" -}}
{{ $work_ip = "192.168.1.110" -}}
{{ end -}}

{{ $ip = set $ip "work" (dict "ip" $work_ip "port" "22" "user" $username.linux) -}}
{{ $ip = set $ip "work2" (dict "ip" "192.168.1.107" "port" "22" "user" $username.linux) -}}
{{ $ip = set $ip "office2043" (dict "ip" "192.168.1.104" "port" "22" "user" $username.linux) -}}
[[Snippets]]
Description = "Remove file from git history"
Output = ""
Tag = []
command = "git filter-repo --path (fzf) --invert-paths"
[[Snippets]]
Description = "Forward note20 adb port"
Output = ""
Tag = ["termux"]
command = "adb forward tcp:{{ $termux.note20_adb.port }} tcp:8022"
[[Snippets]]
Description = "Forward m6 adb port"
Output = ""
Tag = ["termux"]
command = "adb forward tcp:{{ $termux.m6_adb.port }} tcp:8022"
[[Snippets]]
Description = "ritdon html to markdown"
Output = ""
Tag = []
command = "
{{- /* pandoc convert html to markdown */ -}}
pandoc -f html output.html -o markdown -o temp.md --wrap=none;

{{- /* remove empty lines */ -}}
sed -i '/^[[:space:]]*$/d' temp.md;

{{- /* remove leading spaces */ -}}
sed -i 's/^[[:space:]]*//' temp.md;

{{- /* remove tcy tags */ -}}
perl -pi -e 's/\\[(.*?)\\]\\{\\.tcy\\}/\\1/g' temp.md;

{{- /* remove tcy tags */ -}}
sed -i 's/{\\.fit}//' temp.md;

{{- /* replace gfont tags with bold */ -}}
perl -pi -e 's/\\[(.*?)\\]\\{\\.gfont\\}/\\*\\*\\1\\*\\*/g' temp.md;

{{- /* remove leading backslashes */ -}}
sed -i 's/^\\\\$//' temp.md"
{{ end -}}
{{ end -}}
