{{ if or (eq .chezmoi.os "linux") (eq .chezmoi.os "android") -}}
{{ if lookPath "mc" -}}
{{ if eq .chezmoi.os "windows" -}}
ENTRY "AppData" URL "{{ .chezmoi.homeDir }}/AppData/Roaming"
{{ end -}}
{{ end -}}
{{ end -}}
