---
{{ $username := dict -}}
{{ $username = set $username "windows" "user" -}}
{{ $username = set $username "linux" "zxc" -}}
{{ $termux := dict -}}
{{ $termux = set $termux "note20" (dict "port" 8022 "user" "u0_a650" "ip" (ternary "192.168.1.106" "192.168.123.232" (eq .chezmoi.hostname "work" "work2"))) -}}
{{ $termux = set $termux "note20_adb" (dict "port" 8023 "user" $termux.note20.user "ip" "localhost") -}}
{{ $termux = set $termux "m6" (dict "port" 8022 "user" "u0_a556" "ip" (ternary "192.168.1.103" "192.168.123.191" (eq .chezmoi.hostname "work" "work2"))) -}}
{{ $termux = set $termux "m6_adb" (dict "port" 8022 "user" $termux.m6.user "ip" "localhost") -}}
{{ $termux_home := "/data/data/com.termux/files/home" -}}
{{ $windows_home := print "/C:/Users/" $username.windows -}}
{{ $linux_home := print "/home/" $username.linux -}}
{{ $ip := dict -}}
{{ $ip = set $ip "brix" (dict "ip" "192.168.123.206" "port" "22" "user" $username.linux) -}}
{{ $ip = set $ip "home" (dict "ip" "192.168.123.100" "port" "22" "user" $username.linux) -}}
{{ $ip = set $ip "soft" (dict "ip" "192.168.123.206" "port" "23231" "user" $username.linux) -}}
{{ $ip = set $ip "nuc" (dict "ip" "192.168.123.123" "port" "22" "user" $username.windows) -}}

{{ $work_ip := "100.127.103.95" -}}
{{ if eq .chezmoi.hostname "work" "work2" -}}
{{ $work_ip = "192.168.1.110" -}}
{{ end -}}

{{ $ip = set $ip "work" (dict "ip" $work_ip "port" "22" "user" $username.linux) -}}
{{ $ip = set $ip "work2" (dict "ip" "192.168.1.107" "port" "22" "user" $username.linux) -}}
{{ $ip = set $ip "office2043" (dict "ip" "192.168.1.104" "port" "22" "user" $username.linux) -}}
all:
  hosts:
    chromebit:
      ansible_user: user
      ansible_host: chromebit.local
      ansible_become_method: doas
      ansible_become_pass: "{{ gopass "password/linux/user" }}"
windows:
  vars:
    ansible_connection: ssh
    ansible_shell_type: powershell
  hosts:
    nuc:
      ansible_host: nuc.local
      my_hostname: nuc
    bed:
      ansible_host: bed.local
      my_hostname: bed
    work:
      ansible_host: 192.168.1.110
      my_hostname: work
wsl-debian:
  vars:
    ansible_connection: community.general.wsl
    ansible_user: user
  hosts:
    nuc-windows-wsl-debian:
      ansible_host: nuc.local
      wsl_distribution: debian
      wsl_user: root
    work-wsl-debian:
      ansible_host: 192.168.1.110
      wsl_distribution: debian
      wsl_user: root
wsl-arch:
  vars:
    ansible_connection: community.general.wsl
    ansible_user: user
  hosts:
    nuc-wsl-arch:
      ansible_host: nuc.local
      wsl_distribution: archlinux
      wsl_user: root
    work-wsl-arch:
      ansible_host: 192.168.1.110
      wsl_distribution: archlinux
      wsl_user: root
termux:
  vars:
    ansible_ssh_port: 8022
  hosts:
    note20:
      ansible_host: {{ $termux.note20.ip }}
      ansible_user: {{ $termux.note20.user }}
      ansible_ssh_pass: {{ gopass "password/linux/user" }}
    m6:
      ansible_host: {{ $termux.m6.ip }}
      ansible_user: {{ $termux.m6.user }}
      ansible_ssh_pass: {{ gopass "password/linux/user" }}
uos-live:
  hosts:
    uos-live:
      ansible_host: 192.168.1.107
      ansible_user: uos
      ansible_become_pass: uos
uos:
  hosts:
    work2:
      ansible_host: 192.168.1.107
      ansible_user: zxc
      ansible_become_pass: "{{ gopass "password/linux/user" }}"
macos:
  hosts:
    macmini:
      ansible_host: 192.168.123.117
      ansible_become_pass: "{{ gopass "password/linux/user" }}"
void:
  hosts:
    surface:
      ansible_user: zxc
      ansible_host: surface.local
      ansible_become_pass: "{{ gopass "password/linux/user" }}"
void-live:
  hosts:
    void-live:
      ansible_user: anon
      ansible_ssh_pass: voidlinux
      ansible_host: 192.168.123.221
      ansible_become_pass: "{{ gopass "password/linux/user" }}"
