{{/* {{{ f-droid */ -}}
[[repos]]
enabled = true
id = "f-droid"
url = "https://f-droid.org/repo"
{{/* }}} */ -}}
{{/* {{{ f-droid archive */ -}}
[[repos]]
enabled = false
id = "f-droid-archive"
url = "https://f-droid.org/archive"
{{/* }}} */ -}}
{{/* {{{ cernet mirror */ -}}
[[repos]]
enabled = false
id = "cernet"
url = "https://mirrors.cernet.edu.cn/fdroid/repo"
{{/* }}} */ -}}
{{/* {{{ nju mirror */ -}}
[[repos]]
enabled = false
id = "nju"
url = "https://mirror.nju.edu.cn/fdroid/repo"
{{/* }}} */ -}}
{{/* {{{ lzzy */ -}}
[[repos]]
enabled = true
id = "lzzy"
url = "https://apt.izzysoft.de/fdroid/repo"
{{/* }}} */ -}}
