{{ if eq .chezmoi.os "windows" -}}
{{ if and ( lookPath "emacs" ) (stat (joinPath .chezmoi.homeDir ".emacs.d" "bin" "doom.ps1")) -}}
$doom_bin = Join-Path -Path $env:USERPROFILE -ChildPath ".emacs.d" "bin" "doom.ps1"
& $doom_bin install --force

$env:DOOMDIR={{ joinPath .chezmoi.homeDir ".config" "doom" "init" | quote }}
& $doom_bin sync
{{ end -}}
{{ end -}}
