{{ if eq .chezmoi.os "windows" -}}
{{ if lookPath "firefox" -}}
{{ $dir := joinPath .chezmoi.homeDir "scoop" "persist" "firefox" "profile" "chrome" -}}
{{ $theme := joinPath .chezmoi.homeDir "scoop" "persist" "firefox" "shyfox" "chrome" -}}
function Link-Theme {
    New-Item -ItemType Junction -Path "{{ $dir }}" -Target "{{ $theme }}"
}
function Relink-Theme {
    Remove-Item -Path "{{ $dir }}"
    Link-Theme
}
{{ if not (stat $dir) -}}
Link-Theme
{{ else -}}
if ((Get-Item -Path "{{ $dir }}" -Force).LinkType -ne "Junction") {
    Relink-Theme
}
if ((Get-Item -Path "{{ $dir }}" -Force).Target -ne "{{ $theme }}") {
    Relink-Theme
}
{{ end -}}
{{ end -}}
{{ end -}}
