{{- if eq .chezmoi.os "android" -}}
#!/data/data/com.termux/files/usr/bin/bash

{{ $prefix := env "PREFIX" -}}
{{ $chosen := joinPath $prefix "etc" "termux" "chosen_mirrors" -}}
{{ $nju := joinPath $prefix "etc" "termux" "mirrors" "chinese_mainland" "mirrors.nju.edu.cn" -}}
{{ $aliyun := joinPath $prefix "etc" "termux" "mirrors" "chinese_mainland" "mirrors.aliyun.com" -}}
{{ $mirror := $nju -}}

{{ if ne (output "realpath" $chosen | trim) $mirror -}}
ln -sf {{ $mirror | quote }} {{ $chosen | quote }}
pkg --check-mirror update
{{ end -}}

{{- end -}}
