{{ if eq .chezmoi.os "windows" -}}
{{ if lookPath "pwsh" -}}
reg import {{ joinPath (env "userprofile") "scoop" "apps" "pwsh" "current" "install-explorer-context.reg" | quote }}
reg import {{ joinPath (env "userprofile") "scoop" "apps" "pwsh" "current" "install-file-context.reg" | quote }}
{{ end -}}
{{ end -}}
