{{ if eq .chezmoi.os "android" -}}
{{ if lookPath "pipx" -}}
#!/data/data/com.termux/files/usr/bin/bash

# Package hash: {{ .my.termux.pipx.packages.install | join "" | sha256sum }}

{{ $found := false -}}
{{ $name := "" -}}

{{ $installed := output "pipx" "list" "--json" | fromJson -}}
{{ range $i, $p := .my.termux.pipx.packages.install -}}
  {{ $found = false -}}

  {{ $name = index (splitList "[" $p) 0 -}}

  {{ if and (hasKey $installed "venvs") (hasKey $installed.venvs $name) -}}
  {{ continue -}}
  {{ end -}}

  pipx install {{ $p }}
{{ end -}}

{{ end -}}
{{ end -}}
