{{ if eq .chezmoi.os "windows" -}}
{{ if lookPath "msys2" -}}
Set-StrictMode -Version Latest
$ErrorActionPreference = "Stop"
$PSNativeCommandUseErrorActionPreference = $true
# (Get-Item {{ joinPath .chezmoi.homeDir "scoop" "apps" "msys2" "current" }}).CreationTime
msys2 -c "sed -i 's#https\?://mirror.msys2.org/#https://mirror.nju.edu.cn/msys2/#g' /etc/pacman.d/mirrorlist*"
msys2 -c "yes | pacman -Syu"
msys2 -c "yes | pacman -S --needed {{ .my.msys2.packages | join " " }}"
msys2 -shell fish -c "curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source && fisher install jorgebucaran/fisher"
{{ end -}}
{{ end -}}
