{{ if eq .chezmoi.os "windows" -}}
{{ if lookPath "code" -}}
reg import {{ joinPath (env "userprofile") "scoop" "apps" "vscode" "current" "install-context.reg" | quote }}
reg import {{ joinPath (env "userprofile") "scoop" "apps" "vscode" "current" "install-associations.reg" | quote }}
{{ end -}}
{{ end -}}
