{{ if eq .chezmoi.os "windows" -}}
{{ if lookPath "pwsh" -}}
Set-StrictMode -Version Latest
$ErrorActionPreference = "Stop"
$PSNativeCommandUseErrorActionPreference = $true
reg import {{ joinPath (env "userprofile") "scoop" "apps" "pwsh" "current" "install-explorer-context.reg" | quote }}
reg import {{ joinPath (env "userprofile") "scoop" "apps" "pwsh" "current" "install-file-context.reg" | quote }}
{{ end -}}
{{ end -}}
