{{ if eq .chezmoi.os "windows" -}}
  {{ if eq .chezmoi.hostname "nuc" "bed" "work" -}}

  {{ includeTemplate "powershell_strict" . }}
  {{ $ssh_user := "admin@localhost" -}}
  {{ $host_users := index .my.windows.users .chezmoi.hostname | default (list) -}}
  {{ $hasAdmin := exec "powershell" "-command" "Get-LocalUser -Name Admin" -}}

  {{ if $hasAdmin -}}

    {{ range (default (list) $host_users.add) -}}

      {{ if exec "powershell" "-command" (print "Get-LocalUser -Name " .) | not -}}

      $remoteScript = @'
{{ includeTemplate "powershell_strict" . }}

$userName = {{ . | quote }}
$group = "Users"

Write-Host "Creating user $userName ..."
$securePassword = ConvertTo-SecureString {{ includeTemplate "gopass" "password/windows/user" | quote }} -AsPlainText -Force
New-LocalUser -Name $userName -Password $securePassword
Add-LocalGroupMember -Group $group -Member $userName -ErrorAction SilentlyContinue
'@

      $remoteScript | & ssh -o BatchMode=yes "{{ $ssh_user }}" "powershell -NoProfile -NonInteractive -Command -"
      if ($LASTEXITCODE -ne 0) {
          Write-Warning "Remote user management failed with exit code $LASTEXITCODE."
      }
      {{ end -}}

    {{ end -}}

    {{ range (default (list) $host_users.del) -}}

      {{ if exec "powershell" "-command" (print "Get-LocalUser -Name " .) -}}

      $remoteScript = @'
{{ includeTemplate "powershell_strict" . }}

$userName = {{ . | quote }}

Write-Host "Deleting user $userName ..."
Remove-LocalUser -Name $userName
'@

      $remoteScript | & ssh -o BatchMode=yes "{{ $ssh_user }}" "powershell -NoProfile -NonInteractive -Command -"
      if ($LASTEXITCODE -ne 0) {
          Write-Warning "Remote user management failed with exit code $LASTEXITCODE."
      }
      {{ end -}}

    {{ end -}}

  {{ end -}}

  {{ end -}}
{{ end -}}
