{{ if eq .chezmoi.os "windows" -}}
{{ if and (lookPath "chromium") (eq .chezmoi.hostname "work") -}}
{{ $scoop_persist := joinPath .chezmoi.homeDir "scoop" "persist" "deskflow" -}}
{{ $conf := joinPath $scoop_persist "settings" "deskflow-server.conf" -}}
{{ $cert := joinPath $scoop_persist "settings" "tls" "deskflow.pem" -}}
{{ $trusted := joinPath $scoop_persist "settings" "tls" "trusted-client" -}}

# {{ include $conf | sha256sum }}
# {{ include $cert | sha256sum }}
# {{ include $trusted | sha256sum }}

mkdir "C:/ProgramData/Deskflow/tls" -ErrorAction SilentlyContinue
cp {{ $conf }} "C:/ProgramData/Deskflow/"
cp {{ $cert }} "C:/ProgramData/Deskflow/tls/"
cp {{ $trusted }} "C:/ProgramData/Deskflow/tls/"
{{ end -}}
{{ end -}}
