{{ if eq .chezmoi.os "windows" -}}
{{ if lookPath "alist" -}}
$password = "{{ includeTemplate "gopass" "alist/local" }}"
if (-not [string]::isNullOrEmpty($password)) {
  alist admin set $password
}
{{ end -}}
{{ end -}}

