{{ if eq .chezmoi.os "windows" -}}
{{ if lookPath "scoop" -}}

{{ $homeDir := .chezmoi.homeDir -}}

{{ range .my.buckets.add -}}
  {{ if joinPath $homeDir "scoop" "buckets" . | stat | not -}}
    {{ warnf (print "Adding scoop bucket " .) -}}
    scoop bucket add {{ . }}
  {{ end -}}
{{ end -}}

{{ $b := "" -}}
{{ $p := "" -}}
{{ $u := "" -}}
{{ $j := dict -}}

{{ $all_package := list -}}
{{ $categories := keys .my.scoop.packages.install -}}
{{ $packages_root := .my.scoop.packages.install -}}
{{ range $_, $c := $categories -}}
{{ $all_package = concat $all_package (index $packages_root $c) -}}
{{ end -}}

{{ range $all_package -}}

  {{ if . | contains "/" | not -}}
  {{ fail (print "Not a valid scoop package name: " .) -}}
  {{ end -}}

  {{ $b = index (splitList "/" .) 0 }}
  {{ $p = index (splitList "/" .) 1 }}

  {{ if $p | contains "@" -}}
  {{ $p = index (splitList "@" $p) 0 }}
  {{ end -}}

  {{ if joinPath $homeDir "scoop" "apps" $p "current" | stat | not -}}
    {{ $j = joinPath $homeDir "scoop" "buckets" $b "bucket" (print $p ".json") | include | fromJson }}
    {{ if and (hasKey $j "architecture") (hasKey $j.architecture "64bit") (contains (index (index $j.architecture "64bit" ) "url") "https://github.com") }}
      scoop config url_proxy {{ .my.gh_proxy }}
      scoop install {{ . }}
    {{ else -}}
      scoop config rm url_proxy
      scoop install {{ . }}
    {{ end -}}
  {{ end -}}

{{ end -}}

{{ end -}}
{{ end -}}
