{{ if eq .chezmoi.os "windows" -}}
{{ if lookPath "scoop" -}}

{{ $homeDir := .chezmoi.homeDir -}}
{{ $gh_proxy := .my.gh_proxy -}}

{{ $b := "" -}}
{{ $p := "" -}}
{{ $u := "" -}}
{{ $j := dict -}}
{{ $url := "" -}}

{{ $all_package := list -}}

{{ $type := "other" -}}

{{ if eq .chezmoi.hostname "nuc" "bed" -}}
{{ $type = "home" -}}
{{ else if eq .chezmoi.hostname "work" "work2" -}}
{{ $type = "work" -}}
{{ end -}}

{{ $packages_root := (index .my.scoop.packages $type) -}}
{{ $categories := keys $packages_root.install -}}

{{ range $_, $c := $categories -}}
{{ $all_package = concat $all_package (index $packages_root.install $c) -}}
{{ end -}}

{{ range $all_package -}}

  {{ if  contains "/" . | not -}}
  {{ fail (print "Not a valid scoop package name: " .) -}}
  {{ end -}}

  {{ $b = index (splitList "/" .) 0 }}
  {{ $p = index (splitList "/" .) 1 }}

  {{ if contains "@" $p -}}
  {{ $p = index (splitList "@" $p) 0 }}
  {{ end -}}

  {{ if joinPath $homeDir "scoop" "apps" $p "current" | stat | not -}}
    {{ $j = joinPath $homeDir "scoop" "buckets" $b "bucket" (print $p ".json") | include | fromJson }}
    {{ if hasKey $j "url" -}}
      {{ if kindIs "string" $j.url -}}
        {{ $url = $j.url -}}
      {{ else -}}
        {{ $url = index $j.url 0 -}}
      {{ end -}}
    {{ else if hasKey $j "architecture" -}}
      {{ if hasKey $j.architecture "64bit" -}}
        {{ if kindIs "string" (index $j.architecture "64bit" ).url -}}
          {{ $url = (index $j.architecture "64bit" ).url -}}
        {{ else -}}
          {{ $url = index (index $j.architecture "64bit" ).url 0 -}}
        {{ end -}}
      {{ else -}}
        {{ fail (print "Url is not found " .) -}}
      {{ end -}}
    {{ else -}}
      {{ fail (print "Url is not found " .) -}}
    {{ end -}}

    {{ if or (contains "https://github.com" $url) (contains "https://raw.githubusercontent.com" $url) -}}
      scoop config url_proxy {{ $gh_proxy }}
      scoop install {{ . }}
    {{ else -}}
      scoop config rm url_proxy
      scoop install {{ . }}
    {{ end -}}
  {{ end -}}

{{ end -}}

{{ $uninstall_packages := list -}}

{{ $categories = keys $packages_root.uninstall -}}
{{ range $_, $c := $categories -}}
{{ $uninstall_packages = concat $uninstall_packages (index $packages_root.uninstall $c) -}}
{{ end -}}

{{ range $uninstall_packages -}}

  {{ if  contains "/" . | not -}}
  {{ fail (print "Not a valid scoop package name: " .) -}}
  {{ end -}}

  {{ $b = index (splitList "/" .) 0 }}
  {{ $p = index (splitList "/" .) 1 }}

  {{ if contains "@" $p -}}
  {{ $p = index (splitList "@" $p) 0 }}
  {{ end -}}

  {{ if joinPath $homeDir "scoop" "apps" $p "current" | stat -}}
    scoop uninstall {{ . }}
  {{ end -}}

{{ end -}}

{{ end -}}
{{ end -}}
