{{ if eq .chezmoi.os "windows" -}}
{{ if lookPath "vim" -}}
{{ $file_content := include (joinPath .chezmoi.homeDir "vimfiles" "import" "plugins.vim") | splitList "\n" -}}
{{ $sum := list -}}
{{ range $file_content -}}
{{ if hasPrefix "Plug" . -}}
{{ $sum = (. | split "'")._1 | append $sum -}}
{{ end -}}
{{ end -}}
# {{ $sum | join "" | sha256sum }}
vim -c "PlugClean|PlugUpdate|qa!"
{{ end -}}
{{ end -}}
