{{ if eq .chezmoi.os "windows" -}}
{{ if lookPath "go" -}}

{{ if env "GOPROXY" | not -}}
[System.Environment]::SetEnvironmentVariable("GOPROXY", "{{ .my.go_proxy}},direct", "User")
{{ end -}}

{{ end -}}
{{ end -}}

