{{ if eq .chezmoi.os "linux" "android" -}}
{{ $doom_dir := joinPath .chezmoi.homeDir ".config" "emacs" -}}
{{ if eq .chezmoi.os "windows" -}}
{{ $doom_dir = joinPath .chezmoi.homeDir ".emacs.d" -}}
{{ end -}}
{{ $doom_bin := joinPath $doom_dir "bin" "doom" -}}
{{ if eq .chezmoi.os "windows" -}}
{{ $doom_bin = joinPath $doom_dir "bin" "doom.ps1" -}}
{{ end -}}
{{ if stat $doom_bin -}}
{{ if lookPath "emacs" -}}
#!{{lookPath "bash"}}
set -euo pipefail
{{ if stat (joinPath .chezmoi.homeDir ".config" "doom" "config.el") -}}

{{ $sum := list }}
{{ $homeDir := .chezmoi.homeDir -}}
    {{ range (list "config" "packages" "init") -}}
    {{ $sum = include (joinPath $homeDir ".config" "doom" (print . ".el")) | append $sum -}}
    {{ end -}}
# {{ $sum | join "" | sha256sum }}
# {{ output "git" "-C" $doom_dir "rev-parse" "HEAD" }}
# {{ output "emacs" "--version" | trim | splitList "\n" | first }}
{{ $doom_bin }} sync

{{ end -}}
{{ end -}}
{{ end -}}
{{ end -}}
