{{ if eq .chezmoi.os "windows" -}}
{{ if and ( stat (joinPath .chezmoi.homeDir ".emacs.d" "bin" "doom") ) (stat (joinPath .chezmoi.homeDir ".config" "doom" "config.el")) -}}
{{ $sum := list }}
{{ $homeDir := .chezmoi.homeDir -}}
{{ range (list "config" "packages" "init") -}}
{{ $sum = include (joinPath $homeDir ".config" "doom" (print . ".el")) | append $sum -}}
{{ end -}}
# {{ $sum | join "" | sha256sum }}
{{ (joinPath .chezmoi.homeDir ".emacs.d" "bin" "doom.ps1" ) }} sync
{{ end -}}
{{ end -}}
