{{ if eq .chezmoi.os "windows" -}}
{{ if lookPath "msys2" -}}
Set-StrictMode -Version Latest
$ErrorActionPreference = "Stop"
$PSNativeCommandUseErrorActionPreference = $true
{{ if stat (joinPath .chezmoi.homeDir ".config" "fish" "fish_plugins") -}}
# {{ include (joinPath .chezmoi.homeDir ".config" "fish" "fish_plugins") | sha256sum }}
msys2 -shell fish -c "fisher update"
{{ end -}}
{{ end -}}
{{ end -}}
