{{ if or (eq .chezmoi.os "linux") (eq .chezmoi.os "android") -}}
{{ if lookPath "mpv" -}}
#!{{lookPath "bash"}}
{{ template "checkPath" (list "bash" "curl" "unzip") -}}
{{ if and (lookPath "bash") (lookPath "curl") (lookPath "unzip") -}}
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/tomasklaen/uosc/HEAD/installers/unix.sh)"
{{ end -}}
{{ end -}}
{{ end -}}
