{{ if eq .chezmoi.os "windows" -}}
{{ if and (lookPath "gh") (lookPath "gopass") -}}
{{ if not (exec "gh" "auth" "status") -}}
"Starting to login in github cli"
gopass github/ourgal/token | gh auth login --hostname github.com --with-token
"Login in github successed"
{{ end -}}
{{ end -}}
{{ end -}}
