{{ if eq .chezmoi.os "windows" -}}
{{ $doom_dir := joinPath .chezmoi.homeDir ".config" "emacs" -}}
{{ if eq .chezmoi.os "windows" -}}
{{ $doom_dir = joinPath .chezmoi.homeDir ".emacs.d" -}}
{{ end -}}
{{ $doom_bin := joinPath $doom_dir "bin" "doom" -}}
{{ if eq .chezmoi.os "windows" -}}
{{ $doom_bin = joinPath $doom_dir "bin" "doom.ps1" -}}
{{ end -}}
{{ if stat $doom_bin -}}
{{ $commit := output "git" "-C" $doom_dir "rev-parse" "HEAD" }}
{{ if ne $commit .my.doomemacs.commit -}}
cd {{ $doom_dir | quote }}

git reset --hard HEAD

git fetch
git checkout {{ .my.doomemacs.commit }}
{{ end -}}
{{ end -}}
{{ end -}}
