{{ if eq .chezmoi.os "windows" -}}
{{ if and ( lookPath "vim" ) (stat (joinPath .chezmoi.homeDir ".config" "git" "config")) -}}
Set-StrictMode -Version Latest
$ErrorActionPreference = "Stop"
$PSNativeCommandUseErrorActionPreference = $true
{{ $file_content := include (joinPath .chezmoi.homeDir "vimfiles" "import" "plugins.vim") | splitList "\n" -}}
{{ $sum := list -}}
{{ range $file_content -}}
{{ if hasPrefix "Plug" . -}}
{{ $sum = (. | split "'")._1 | append $sum -}}
{{ end -}}
{{ end -}}
# {{ $sum | join "" | sha256sum }}
vim -c "PlugClean|PlugUpdate|qa!"
{{ end -}}
{{ end -}}
