{{ if eq .chezmoi.os "windows" -}}
Set-StrictMode -Version Latest
$ErrorActionPreference = "Stop"
$PSNativeCommandUseErrorActionPreference = $true
# Gather System Serial Number
$computerSpec = (Get-CimInstance -ClassName Win32_BIOS).SerialNumber

# Generate a Hash (MD5)
$md5 = [System.Security.Cryptography.MD5]::Create()
$hash = $md5.ComputeHash([System.Text.Encoding]::UTF8.GetBytes($computerSpec))

# Convert Hash to GUID
$guid = [System.Guid]$hash
$guid.Guid | Tee-Object -FilePath {{ joinPath (env "LOCALAPPDATA") "uuid" }}
{{ end -}}
