{{ if eq .chezmoi.os "windows" -}}
{{ if lookPath "ludusavi" -}}
---
runtime:
  threads: ~
  networkSecurity: safe
release:
  check: true
manifest:
  enable: true
language: en-US
theme: light
roots:
  - store: steam
    path: "C:/Program Files (x86)/Steam"
  - store: epic
    path: "C:/Program Files (x86)/Epic Games"
  - store: gog
    path: "C:/GOG Games"
  - store: microsoft
    path: "C:/Program Files/WindowsApps"
redirects: []
backup:
  path: "C:/Users/User/ludusavi-backup"
  ignoredGames: []
  filter:
    excludeStoreScreenshots: false
    cloud:
      exclude: false
      epic: false
      gog: false
      origin: false
      steam: false
      uplay: false
    ignoredPaths: []
    ignoredRegistry: []
  toggledPaths: {}
  toggledRegistry: {}
  sort:
    key: status
    reversed: false
  retention:
    full: 1
    differential: 0
  format:
    chosen: simple
    zip:
      compression: deflate
    compression:
      deflate:
        level: 6
      bzip2:
        level: 6
      zstd:
        level: 10
  onlyConstructive: false
restore:
  path: "C:/Users/User/ludusavi-backup"
  ignoredGames: []
  toggledPaths: {}
  toggledRegistry: {}
  sort:
    key: status
    reversed: false
  reverseRedirects: false
scan:
  showDeselectedGames: true
  showUnchangedGames: true
  showUnscannedGames: true
cloud:
  remote: ~
  path: ludusavi-backup
  synchronize: true
apps:
  rclone:
    path: "C:/Users/User/scoop/shims/rclone.exe"
    arguments: "--fast-list --ignore-checksum"
customGames:
  - name: Aotenjo
    integration: override
    files:
      - "<winLocalAppDataLow>/Aotenjo/Aotenjo"
    registry: []
    installDir: []
    winePrefix: []
  - name: Café Stella and the Reaper's Butterflies
    integration: override
    files:
      - {{ joinPath .chezmoi.homeDir "scoop" "apps" "cafe_stella_and_the_reapers_butterflies" "current" "savedata" | quote }}
    registry: []
    installDir: []
    winePrefix: []
  - name: Everything is crab
    integration: override
    files:
      - "<winLocalAppDataLow>/Odd Dreams Digital/Everything is Crab/SyncedData/Steam/real/Slot_1_Codex_v1.save"
      - "<winLocalAppDataLow>/Odd Dreams Digital/Everything is Crab/SyncedData/Steam/real/Slot_1_ContextualDeathTips_v1.save"
      - "<winLocalAppDataLow>/Odd Dreams Digital/Everything is Crab/SyncedData/Steam/real/Slot_1_Core_v1.save"
      - "<winLocalAppDataLow>/Odd Dreams Digital/Everything is Crab/SyncedData/Steam/real/Slot_1_LastRunsCreatureCreations_v1.save"
    registry: []
    installDir: []
    winePrefix: []
  - name: Forage Wizard
    integration: override
    files:
      - "<winLocalAppDataLow>/Lost Maxim/Forage Wizard"
    registry: []
    installDir: []
    winePrefix: []
  - name: Liminal Border Part I
    integration: override
    files:
      - {{ joinPath .chezmoi.homeDir "scoop" "apps" "liminal_border_1" "current" "savedata" | quote }}
    registry: []
    installDir: []
    winePrefix: []
  - name: Liminal Border Part II
    integration: override
    files:
      - {{ joinPath .chezmoi.homeDir "scoop" "apps" "liminal_border_2" "current" "savedata" | quote }}
    registry: []
    installDir: []
    winePrefix: []
  - name: Liminal Border Part III
    integration: override
    files:
      - {{ joinPath .chezmoi.homeDir "scoop" "apps" "liminal_border_3" "current" "savedata" | quote }}
    registry: []
    installDir: []
    winePrefix: []
{{ end -}}
{{ end -}}
