{
    "version": "20973329",
    "description": "The Mahjong Roguelike. Aotenjo: Infinite Hands is an deckbuilder where you will use Mahjong styles all over the world to beat innate threats, play different Patterns and combos, reach the \"bottom\" of Aotenjo, and discover ancient secrets....",
    "homepage": "https://byrutgame.org/index.php?do=download&id=176872",
    "architecture": {
        "64bit": {
            "url": "{{ .my.alist.local.host }}/d/189cloud_crypt/games/aotenjo.7z",
            "hash": "43b66ee21523bbc7cf7b99b455450e0e252a71593552021f0c5a1b37eb2b52bc"
        }
    },
    "shortcuts": [
        [
            "Aotenjo.exe",
            "Aotenjo"
        ]
    ]
}
