{
    "version": "1.1.15.1",
    "description": "A spaceship from Potato World crashes onto an alien planet. The sole survivor: Brotato, the only potato capable of handling 6 weapons at the same time. Waiting to be rescued by his mates, Brotato must survive in this hostile environment.",
    "homepage": "https://freegogpcgames.com/32560/brotato/",
    "architecture": {
        "64bit": {
            "url": "{{ .my.alist.local.host }}/d/189cloud_crypt/games/brotato.7z",
            "hash": "1b23c8a3db488d7c6cf68750f0b7a8c6260daea2c6e6bfc5b208ae2641cc7eb7"
        }
    },
    "post_install": [
        "$name = \"brotato\"",
        "$path = \"${env:APPDATA}\\brotato\\GOG-saves\"",
        "$saves = if ($env:game_saves) { $env:game_saves } else { \"$env:USERPROFILE\\Documents\\game_saves\" }",
        "mkdir -p $saves\\$name >$null 2>$null",
        "New-Item -ItemType Junction -Path $path -Target $saves\\$name >$null"
    ],
    "shortcuts": [
        [
            "Brotato.exe",
            "Brotato"
        ]
    ]
}
