{
    "version": "1.0",
    "description": "Café Stella and the Reaper’s Butterflies is a Japanese-style visual novel produced by Yuzusoft, a Japanese developer of romance VNs. It won numerous awards in the year of its release in Japan for its art, music, and characters.",
    "homepage": "https://byrutgame.org/25210-cafe-stella-and-the-reapers-butterflies.html",
    "architecture": {
        "64bit": {
            "url": "{{ .my.alist.local.host }}/d/189cloud_crypt/games/cafe_stella_and_the_reapers_butterflies.7z",
            "hash": "0eb4803fed0e18865142855b3f473748a216382ab5f620fb3dd035f3b83342d0"
        }
    },
    "shortcuts": [
        [
            "CafeStella.exe",
            "Cafe Stella and the Reaper's Butterflies"
        ]
    ]
}
