{
    "version": "1.2.1.3-4986",
    "description": "Explore a vast cavern of creatures, relics and resources in a mining sandbox adventure for 1-8 players. Mine, build, fight, craft and farm to unravel the mystery of the ancient Core.",
    "homepage": "https://byrutgame.org/21317-core-keeper.html",
    "architecture": {
        "64bit": {
            "url": "{{ .my.dufs.bucket.host }}/bucket/games/core_keeper.7z",
            "hash": "a6a47876c60a1f056183a1863b81b025f041c67b3a02620b5b084a20d4fae73a"
        }
    },
    "post_install": [
        "$name = \"core_keeper\"",
        "$path = \"${env:USERPROFILE}\\AppData\\LocalLow\\Pugstorm\\Core Keeper\\Steam\\848908519\"",
        "$saves = if ($env:game_saves) { $env:game_saves } else { \"$env:USERPROFILE\\Documents\\game_saves\" }",
        "mkdir -p $saves\\$name >$null 2>$null",
        "New-Item -ItemType Junction -Path $path -Target $saves\\$name >$null"
    ],
    "shortcuts": [
        [
            "CoreKeeper.exe",
            "Core Keeper"
        ]
    ]
}
