{
    "version": "1.2.0a",
    "description": "Manage your own discount supermarket! Get caught up in small-town drama, organize and plan your shop's layout, and strike lucrative trade deals as you expand your secretive aunt's business empire. Selling more frozen fries will surely heal this broken community...right?",
    "homepage": "https://igg-games.com/discounty-free-download.html",
    "architecture": {
        "64bit": {
            "url": "{{ .my.dufs.bucket.host }}/bucket/games/discounty.7z",
            "hash": "a1924f7451033863acdd68c44426ef08c21f7f0b1074ee910e09dd7e777078bb"
        }
    },
    "shortcuts": [
        [
            "Discounty.exe",
            "Discounty"
        ]
    ]
}
