{
    "version": "1.2.1",
    "description": "Fracture Field is an idle/incremental quarry mining game. Shatter rocks with timed swings then invest your earnings into upgrades. Build a fleet of drones to automate your empire, bomb tough layers, and unlock powerful prestige upgrades on your journey to master the quarry.",
    "homepage": "https://store.steampowered.com/app/3946110/Fracture_Field/",
    "architecture": {
        "64bit": {
            "url": "{{ .my.dufs.bucket.host }}/bucket/games/fracture_field.7z",
            "hash": "efd1f0ff3769a26bae2d310846a30d07d3272b112d04d11aaff11ce901c9a2da"
        }
    },
    "shortcuts": [
        [
            "Fracture Field.exe",
            "Fracture Field"
        ]
    ]
}
