{
    "version": "1.0",
    "description": "A short incremental game where you play as a Healer in a party. Your main job is to keep your party alive. Upgrade 200+ skills in a skill tree, from healing to party damage. Designed to be completed in around 4 hours.",
    "homepage": "https://igg-games.com/master-healer-kale-with-useless-party-free-download.html",
    "architecture": {
        "64bit": {
            "url": "{{ .my.dufs.bucket.host }}/bucket/games/master_healer_kale.7z",
            "hash": "42828722cd8c6cafaf798a6fdf574f069f9921c398e01b65516ca104bbbc93f3"
        }
    },
    "post_install": [
        "$name = \"master_healer_kale\"",
        "$path = \"${env:USERPROFILE}\\AppData\\LocalLow\\Evrac Studio\\MasterHealerKale\"",
        b$saves = if ($env:game_saves) { $env:game_saves } else { \"$env:USERPROFILE\\Documents\\game_saves\" }",
        "mkdir -p $saves\\$name >$null 2>$null",
        "New-Item -ItemType Junction -Path $path -Target $saves\\$name >$null"
    ],
    "shortcuts": [
        [
            "MasterHealerKale.exe",
            "Master Healer Kale"
        ]
    ]
}
