{
    "version": "1.0",
    "description": "Snacktorio is a level-based cooking automation game where you build & scale food production lines to feed the beasts threatening to consume your world. Manage strange ingredients across sprawling cooking factories to keep the monsters fed while you uncover what's stirring their growing appetites...",
    "homepage": "https://igg-games.com/snacktorio-free-download.html",
    "architecture": {
        "64bit": {
            "url": "{{ .my.dufs.bucket.host }}/bucket/games/snacktorio.7z",
            "hash": "1327c26095e0362487632364dfc37c6b2bcedade273ad2be77bf880ade6d97d6"
        }
    },
    "post_install": [
        "$name = \"snacktorio\"",
        "$path = \"${env:USERPROFILE}\\AppData\\Roaming\\Snacktorio\"",
        "$saves = if ($env:game_saves) { $env:game_saves } else { \"$env:USERPROFILE\\Documents\\game_saves\" }",
        "mkdir -p $saves\\$name >$null 2>$null",
        "New-Item -ItemType Junction -Path $path -Target $saves\\$name >$null"
    ],
    "shortcuts": [
        [
            "Snacktorio.exe",
            "Snacktorio"
        ]
    ]
}
