{
    "version": "1.14.112",
    "description": "Mow down thousands of night creatures and survive until dawn! Vampire Survivors is a gothic horror casual game with rogue-lite elements, where your choices can allow you to quickly snowball against the hundreds of monsters that get thrown at you. Be the bullet hell!",
    "homepage": "https://byrutgame.org/23136-vampire-survivors.html",
    "architecture": {
        "64bit": {
            "url": "{{ .my.dufs.bucket.host }}/bucket/games/VampireSurvivors.7z",
            "hash": "031394a987a50b75506eec57639bbf782ef09db26da646e8465bc2162e32e17c"
        }
    },
    "shortcuts": [
        [
            "VampireSurvivors.exe",
            "Vampire Survivors"
        ]
    ]
}
