{
    "version": "1.4.1a",
    "description": "From the creators of Vampire Survivors comes a turbo-charged, turn-based roguelite deckbuilder! Deal world-ending combos, blitz through infested dungeons, and master the Turboturn to obliterate hordes of familiar foes with a chaotic hand of cards.",
    "homepage": "https://byrutgame.org/53218-vampire-crawlers-the-turbo-wildcard-from-vampire-survivors.html",
    "architecture": {
        "64bit": {
            "url": "{{ .my.alist.local.host }}/d/189cloud_crypt/games/VampireCrawlers.7z",
            "hash": "2ffe6417de8191d4f6c61d1fcbab8d460d2db999a41e79529cf26947df792247"
        }
    },
    "shortcuts": [
        [
            "Vampire Crawlers.exe",
            "Vampire Crawlers"
        ]
    ]
}
