Makefile
main.leojs
{{ if eq .chezmoi.os "linux" -}}
Documents/autohotkey/
Documents/autohotkey/**
Documents/PowerToys/
Documents/PowerToys/**
Documents/PowerShell/
Documents/PowerShell/**
scoop/
scoop/**
AppData/
AppData/**
vimfiles/
vimfiles/**
.glzr/
.glzr/**
{{ end -}}
{{ if eq .chezmoi.os "android" -}}
Documents/autohotkey/
Documents/autohotkey/**
Documents/PowerToys/
Documents/PowerToys/**
Documents/PowerShell/
Documents/PowerShell/**
scoop/
scoop/**
AppData/
AppData/**
vimfiles/
vimfiles/**
.glzr/
.glzr/**
{{ end -}}
{{ if eq .chezmoi.os "windows" -}}
.vim/
.vim/**
.local/
.local/**
.pip/
.pip/**
.bash_profile
.bashrc
.xinitrc
{{ end -}}
