Makefile
main.leojs
# [[[ linux
{{ if eq .chezmoi.os "linux" -}}
# autohotkey
Documents/autohotkey/
Documents/autohotkey/**

# powertoys
Documents/PowerToys/
Documents/PowerToys/**

# powershell
Documents/PowerShell/
Documents/PowerShell/**

# scoop
scoop/
scoop/**

AppData/
AppData/**

# glazewm
.glzr/
.glzr/**

# windows game save
Documents/game_saves/
Documents/game_saves/**

{{ if and (hasKey .chezmoi.osRelease "name") (ne .chezmoi.osRelease.name "Void") -}}
# runit
service/
service/**
.config/sv/
.config/sv/**
{{ end -}}

{{ if not (lookPath "flatpak") -}}
.var/
.var/**
{{ end -}}

{{ end -}}
# ]]]
# [[[ android
{{ if eq .chezmoi.os "android" -}}
# autohotkey
Documents/autohotkey/
Documents/autohotkey/**

# powertoys
Documents/PowerToys/
Documents/PowerToys/**

# powershell
Documents/PowerShell/
Documents/PowerShell/**

# scoop
scoop/
scoop/**

AppData/
AppData/**

# glazewm
.glzr/
.glzr/**

# windows game save
Documents/game_saves/
Documents/game_saves/**

{{ if and (hasKey .chezmoi.osRelease "name") (ne .chezmoi.osRelease.name "Void") -}}
# runit
service/
service/**
.config/sv/
.config/sv/**
{{ end -}}

# linux desktop files
.local/share/applications/
.local/share/applications/**

# code oss config
.config/Code OSS/
.config/Code OSS/**

# flatpak
.var/
.var/**

# desktop autostart files
.config/autostart/
.config/autostart/**
{{ end -}}
# ]]]
# [[[ windows
{{ if eq .chezmoi.os "windows" -}}

# pip config
.pip/
.pip/**

# bash
.bash_profile
.bashrc

# xinit
.xinitrc


# runit
service/
service/**
.config/sv/
.config/sv/**

# code oss config
.config/Code OSS/
.config/Code OSS/**

# linux desktop files
.local/share/applications/
.local/share/applications/**

# nnn config
.config/nnn/
.config/nnn/**

# flatpak
.var/
.var/**

# linux autostart files
.config/autostart/
.config/autostart/**
{{ end -}}
# ]]]
# [[[ aichat
{{ if eq .chezmoi.os "windows" | not -}}
{{ if lookPath "aichat" | not -}}
AppData/Roaming/aichat/
AppData/Roaming/aichat/**
{{ end -}}
{{ end -}}
{{ if eq .chezmoi.os "linux" "android" | not -}}
{{ if lookPath "aichat" | not -}}
.config/aichat/
.config/aichat/**
{{ end -}}
{{ end -}}
# ]]]
# [[[ gnupg
{{ if eq .chezmoi.os "windows" | not -}}
{{ if lookPath "gpg" | not -}}
scoop/persist/gpg/home/
scoop/persist/gpg/home/**
{{ end -}}
{{ end -}}
{{ if eq .chezmoi.os "linux" "android" | not -}}
{{ if lookPath "gpg" | not -}}
.gnupg/
.gnupg/**
{{ end -}}
{{ end -}}
# ]]]
# [[[ fdroidcl
{{ if eq .chezmoi.os "windows" | not -}}
{{ if lookPath "fdroidcl" | not -}}
AppData/Roaming/fdroidcl/
AppData/Roaming/fdroidcl/**
{{ end -}}
{{ end -}}
{{ if eq .chezmoi.os "linux" "android" | not -}}
{{ if lookPath "fdroidcl" | not -}}
.config/fdroidcl/
.config/fdroidcl/**
{{ end -}}
{{ end -}}
# ]]]
# [[[ aria2
{{ if eq .chezmoi.os "windows" | not -}}
{{ if lookPath "aria2c" | not -}}
.aria2/
.aria2/**
{{ end -}}
{{ end -}}
{{ if eq .chezmoi.os "linux" "android" | not -}}
{{ if lookPath "aria2c" | not -}}
.config/aria2/
.config/aria2/**
{{ end -}}
{{ end -}}
# ]]]
# [[[ mpd
{{ if eq .chezmoi.os "windows" | not -}}
{{ if lookPath "mpd" | not -}}
AppData/Roaming/mpd/
AppData/Roaming/mpd/**
{{ end -}}
{{ end -}}
# ]]]
# [[[ tldr
{{ if eq .chezmoi.os "windows" | not -}}
{{ if lookPath "tldr" | not -}}
scoop/persist/tealdeer/
scoop/persist/tealdeer/**
{{ end -}}
{{ end -}}
{{ if eq .chezmoi.os "linux" "android" | not -}}
{{ if lookPath "tldr" | not -}}
.config/tealdeer/
.config/tealdeer/**
{{ end -}}
{{ end -}}
# ]]]
# [[[ yt-dlp
{{ if eq .chezmoi.os "windows" | not -}}
{{ if lookPath "yt-dlp" | not -}}
scoop/persist/yt-dlp/
scoop/persist/yt-dlp/**
{{ end -}}
{{ end -}}
# ]]]
# [[[ transmission
{{ if eq .chezmoi.os "windows" | not -}}
{{ if lookPath "transmission-daemon" | not -}}
AppData/Local/transmission-daemon/
AppData/Local/transmission-daemon/**
{{ end -}}
{{ end -}}
{{ if eq .chezmoi.os "linux" "android" | not -}}
{{ if lookPath "transmission-daemon" | not -}}
.config/transmission-daemon/
.config/transmission-daemon/**
{{ end -}}
{{ end -}}
# ]]]
# [[[ vim
{{ if eq .chezmoi.os "windows" | not -}}
{{ if lookPath "vim" | not -}}
vimfiles/
vimfiles/**
{{ end -}}
{{ end -}}
{{ if eq .chezmoi.os "linux" "android" | not -}}
{{ if lookPath "vim" | not -}}
.vim/
.vim/**
.config/vim/
.config/vim/**
{{ end -}}
{{ end -}}
# ]]]
# [[[ info
{{ if eq .chezmoi.os "linux" "android" -}}
{{ if lookPath "info" -}}
.infokey
{{ end -}}
{{ end -}}
# ]]]
# [[[ eget
{{ if eq .chezmoi.os "windows" | not -}}
{{ if lookPath "eget" | not -}}
.eget.toml
{{ end -}}
{{ end -}}
# ]]]
# [[[ chezmoi
{{ if eq .chezmoi.os "windows" "linux" "android" | not -}}
{{ if lookPath "chezmoi" | not -}}
.config/chezmoi/chezmoi.toml
{{ end -}}
{{ end -}}
# ]]]
# [[[ helix
{{ if eq .chezmoi.os "windows" | not -}}
{{ if lookPath "hx" | not -}}
AppData/Roaming/helix/
AppData/Roaming/helix/**
{{ end -}}
{{ end -}}
{{ if eq .chezmoi.os "linux" "android" | not -}}
{{ $arch_helix := and  (hasKey .chezmoi.osRelease "id") (eq .chezmoi.osRelease.id "arch") (lookPath "helix") -}}
{{ if or (lookPath "hx") $arch_helix -}}
.config/helix/
.config/helix/**
{{ end -}}
{{ end -}}
# ]]]
# [[[ gopass
{{ if eq .chezmoi.os "windows" | not -}}
{{ if lookPath "gopass" | not -}}
AppData/Roaming/gopass/
AppData/Roaming/gopass/**
{{ end -}}
{{ end -}}
{{ if eq .chezmoi.os "linux" "android" | not -}}
{{ if lookPath "gopass" | not -}}
.config/gopass/
.config/gopass/**
{{ end -}}
{{ end -}}
# ]]]
# [[[ mc
{{ if eq .chezmoi.os "windows" | not -}}
{{ if lookPath "mc" | not -}}
AppData/Roaming/Midnight Commander/
AppData/Roaming/Midnight Commander/**
{{ end -}}
{{ end -}}
{{ if eq .chezmoi.os "linux" "android" | not -}}
{{ if lookPath "mc" | not -}}
.config/mc/
.config/mc/**
{{ end -}}
{{ end -}}
# ]]]
# [[[ home-manager
{{ if eq .chezmoi.os "linux" "android" | not -}}
{{ if lookPath "home-manager" | not -}}
.config/home-manager/
.config/home-manager/**
{{ end -}}
{{ end -}}
# ]]]
# vim: set foldmarker=[[[,]]]:
