{{ if eq .chezmoi.os "windows" -}}
{{ if lookPath "clink" -}}
set colored-stats                 on   # Turn on completion colors.
set colored-completion-prefix     on   # Color the typed completion prefix.
{{ end -}}
{{ end -}}
