{{ if or ( eq .chezmoi.os "linux" ) ( eq .chezmoi.os "windows") -}}
{{ if lookPath "npm"}}
registry = https://registry.npmmirror.com
coc.nvim:registry=https://registry.npmmirror.com/
{{ end -}}
{{ end -}}
