{{ if eq .chezmoi.os "linux" "android" -}}
{{ if stat "/home/linuxbrew/.linuxbrew" -}}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
export HOMEBREW_BREW_GIT_REMOTE="https://mirror.nju.edu.cn/git/homebrew/brew.git"
{{ end -}}
export EDITOR={{ template "editor" }}
export PATH=~/.local/bin:$PATH
export SSH_AUTH_SOCK=$(gpgconf --list-dirs agent-ssh-socket)
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS="@im=fcitx"
{{ end -}}
