{{ if eq .chezmoi.os "windows" -}}
{{ if lookPath "mani" -}}
projects:
  playbooks:
    path: Documents/my_repos/playbooks
    url: soft:playbooks
    desc: Ansible playbooks
  snowfall:
    path: Documents/my_repos/snowfall
    url: soft:snowfall
    desc: nixos config
{{ end -}}
{{ end -}}
