projects:
  snowfall:
    path: Documents/my_repos/snowfall
    url: soft:snowfall
    desc: nixos config
  org:
    path: org
    url: soft:org
    desc: org
  tutorial:
    path: Documents/my_repos/tutorial
    url: soft:tutorial
    desc: tutorial
  scoop-bucket:
    path: Documents/my_repos/scoop-bucket
    url: myg:scoop-bucket
    desc: scoop bucket
  chezmoi:
    path: .local/share/chezmoi
    url: soft:dotfiles
    desc: chezmoi dotfiles
  playwright_ritdon:
    path: Documents/my_repos/playwright_ritdon
    url: myg:playwright_ritdon
    desc: playwright ritdon
  playwright_yamibo:
    path: Documents/my_repos/playwright_yamibo
    url: myg:playwright_yamibo
    desc: playwright yamibo
  windows_unattend:
    path: Documents/my_repos/windows_unattend
    url: soft:windows_unattend
    desc: windows install scripts
specs:
  custom:
    output: table
    parallel: true
    forks: 8
targets:
  all:
    all: true
tasks:
  pull:
    desc: Pull latest commit
    spec: custom
    target: all
    cmd: git pull origin
