sed -i 's@^\(deb.*stable main\)$@#\1\ndeb https://mirror.nju.edu.cn/termux/apt/termux-main stable main@' $PREFIX/etc/apt/sources.list
pkg update && pkg upgrade
pkg i python python-apt openssh
curl -L https://github.com/ourgal.keys > .ssh/authorized_keys
sshd
whoami
