{{ if eq .chezmoi.os "windows" -}}
{{ if lookPath "alacritty" -}}
[terminal]
shell = "pwsh"
[window]
opacity = 0.9
[font]
size = 12
[font.normal]
family = {{ .my.font.monospace | quote }}
style = "Regular"
{{ end -}}
{{ end -}}
