{{ if .my.git.sign.gpg -}}

{{ if and (eq .chezmoi.os "windows") .my.gpg.agent.ssh -}}
enable-win32-openssh-support
{{ end -}}

{{ if and (eq .chezmoi.os "linux" "android") .my.gpg.agent.ssh -}}
enable-ssh-support
{{ end -}}

{{ end -}}
grab

{{ if lookPath "pinentry-gtk-2" -}}
pinentry-program {{ lookPath "pinentry-gtk-2" }}
{{ else if eq .chezmoi.os "android" -}}
pinentry-program {{ lookPath "pinentry-tty" }}
{{ end -}}
