# chezmoi:template:left-delimiter=[[ right-delimiter=]]
---
- name: Easyos
  hosts: easyos
  ignore_unreachable: true
  vars:
    gh_proxy: [[ .my.gh_proxy ]]/
  tasks:
    - name: Update apt cache
      tags: apt
      ansible.builtin.apt:
        update_cache: true
    - name: Install apt packages
      ansible.builtin.apt:
        name:
          # system
          - aptitude
          - ssh-askpass
          # remote
          - deskflow
          # editor
          - vim
          - vim-gtk3
          - vim-gui-common
          - emacs
          # ansible
          - ansible
          - ansible-core
          # download
          - aria2
          # nodejs
          - nodejs
          - npm
          # shell
          - fish
          # fuzzy finder
          - fzf
          # file manager
          - nnn
          - ranger
          - lf
          - mc
          # terminal
          - kitty
          # cd
          - zoxide
          # prompt
          - starship
          # less
          - bat
          # top
          - btop
          - htop
          # dev
          - make
          - git
          - lazygit
          # python
          - pipx
    - name: Download chezmoi
      ansible.builtin.get_url:
        url: "{{ gh_proxy }}https://github.com/twpayne/chezmoi/releases/download/v2.72.0/chezmoi_2.72.0_linux_amd64.deb"
        dest: /tmp/chezmoi.deb
        mode: "0644"
    - name: Install chezmoi
      ansible.builtin.apt:
        deb: /tmp/chezmoi.deb
    - name: Download gopass
      ansible.builtin.get_url:
        url: "{{ gh_proxy }}https://github.com/gopasspw/gopass/releases/download/v1.16.1/gopass_1.16.1_linux_amd64.deb"
        dest: /tmp/gopass.deb
        mode: '0644'
    - name: Install chezmoi
      ansible.builtin.apt:
        deb: /tmp/gopass.deb
    - name: Ensure the target font directory exists
      ansible.builtin.file:
        path: /usr/local/share/fonts/nerdsymbols/
        state: directory
        owner: root
        group: root
        mode: '0755'
    - name: Download nerdsymbols
      ansible.builtin.get_url:
        url: "{{ gh_proxy }}[[ .my.font.nerdsymbols_url ]]"
        dest: /tmp/NerdFontsSymbolsOnly.tar.xz
        mode: '0644'
    - name: Download and extract font archive
      ansible.builtin.unarchive:
        src: /tmp/NerdFontsSymbolsOnly.tar.xz
        dest: /usr/local/share/fonts/nerdsymbols/
        owner: root
        group: root
        mode: '0644'
      notify: Refresh font cache
  handlers:
    - name: Refresh font cache
      ansible.builtin.command:
        cmd: fc-cache -f
