# chezmoi:template:left-delimiter=[[ right-delimiter=]]
---
- name: Configure void linux
  hosts: surface-void
  vars:
    username: zxc
  tasks:
    - name: Install packages
      become: true
      environment:
        XBPS_ARCH: "{{ ansible_facts.machine }}"
      community.general.xbps:
        name:
          - git
          - curl
          - aria2
          - grep
          - fzf
          - yt-dlp
          - ffmpeg
          - 7zip
          - atool
          - unzip
          - buku
          - Clipboard
          - xclip
          - xsel
          - aria2
          - transmission
          - yt-dlp
          - gvim-huge
          - helix
          - kakoune
          - chezmoi
          - lf
          - nnn
          - ranger
          - git
          - git-annex
          - git-crypt
          - git-extras
          - lazygit
          - gitui
          - delta
          - tmux
          - zellij
          - fish-shell
          - fzf
          - atuin
          - starship
          - rsync
          - syncthing
          - stc
          - xtools
          - kmonad
          - psmisc
          - ripgrep
          - zoxide
          - mmv
          - fd
          - eza
          - tree
          - duf
          - dua-cli
          - btop
          - htop
          - bat
          - gopass
          - mpv
          - firefox
          - chromium
          - kitty
          - alacritty
          - anki
          - ansible
          - shellcheck
          - nodejs
          - uv
          - xfce4
          - xfce4-battery-plugin
          - xorg
          - lightdm
          - noto-fonts-ttf
          - noto-fonts-cjk
          - nerd-fonts-symbols-ttf
          - noto-fonts-emoji
          - intel-video-accel
          - intel-ucode
          - libva-utils
          - python3-pipx
    - name: Create .pip folder
      ansible.builtin.file:
        dest: "{{ ansible_facts.user_dir }}/.pip"
        state: directory
    - name: Set pip config
      ansible.builtin.copy:
        dest: "{{ ansible_facts.user_dir }}/.pip/pip.ini"
        content: |
          [global]
          index-url = https://mirrors.nju.edu.cn/pypi/web/simple/
          [install]
          trusted-host = mirrors.nju.edu.cn
    - name: Install pipx packages
      tags: pipx
      community.general.pipx:
        name: "{{ item }}"
      loop:
        - jellyfin-mpv-shim
        - leo
        - advance-touch
    - name: Create per user service folder
      ansible.builtin.file:
        dest: "/etc/sv/runsvdir-{{ username }}"
        state: directory
        mode: "0755"
    - name: Create run script
      ansible.builtin.copy:
        dest: "/etc/sv/runsvdir-{{ username }}/run"
        mode: "0755"
        content: |
          #!/bin/sh

          export USER="{{ username }}"
          export HOME="/home/{{ username }}"

          groups="$(id -Gn "$USER" | tr ' ' ':')"
          svdir="$HOME/service"

          exec chpst -u "$USER:$groups" runsvdir "$svdir"
    - name: Enable services
      become: true
      ansible.builtin.command: "ln -sf /etc/sv/{{ item }} /var/service"
      loop:
        - lightdm
        - "runsvdir-{{ username }}"
    - name: Regenerate initramfs
      become: true
      ansible.builtin.command:
        cmd: "xbps-reconfigure --force linux{{ ansible_facts.kernel | regex_search('\\d+\\.\\d+') }}"
      changed_when: true
    - name: Download xlocate data
      changed_when: true
      ansible.builtin.command:
        cmd: xlocate -S
