# chezmoi:template:left-delimiter=[[ right-delimiter=]]
---
- name: Configure termux
  hosts: note20
  vars:
    ansible_remote_tmp: /data/data/com.termux/files/home/.ansible/tmp
  tasks:
    - name: Debug variables
      ansible.builtin.debug:
        var: ansible_facts
    - name: Update all packages
      tags: apt
      ansible.builtin.apt:
        update_cache: true
        upgrade: true
    - name: Install all packages
      tags: apt
      ansible.builtin.apt:
        name:
          - aichat
          - ani-cli
          - bk
          - weechat
          - direnv
          - editorconfig-core-c
          - just
          - make
          - termux-apt-repo
          - termux-create-package
          - sqlite
          - nodejs-lts
          - rust
          - marksman
          - jq
          - golang
          - ghc
          - taplo
          - tectonic
          - texlab
          - texlive-bin
          - python
          - pandoc
          - aria2
          - axel
          - cloneit
          - python-yt-dlp
          - recutils
          - helix
          - helix-grammars
          - neovim
          - python-pynvim
          - vim
          - gopass
          - gnuplot
          - imagemagick
          - qalc
          - figlet
          - toilet
          - chezmoi
          - lf
          - clifm
          - nnn
          - ranger
          - vifm
          - yazi
          - mc
          - gh
          - git
          - onefetch
          - gitui
          - lazygit
          - tig
          - diff-so-fancy
          - git-delta
          - git-crypt
          - git-extras
          - git-lfs
          - translate-shell
          - ttyper
          - croc
          - dufs
          - miniserve
          - rclone
          - fish
          - which
          - tmux
          - zellij
          - zoxide
          - tealdeer
          - starship
          - oh-my-posh
          - rsync
          - rnr
          - navi
          - pet
          - ripgrep
          - broot
          - fzf
          - carapace
          - atuin
          - mcfly
          - bat
          - moor
          - moreutils
          - termux-api
          - oma
          - nala
          - iproute2
          - gping
          - fontconfig-utils
          - doge
          - q-dns-client
          - eza
          - tree
          - fastfetch
          - cpufetch
          - htop
          - fd
          - diskus
          - dua
          - duc
          - dust
          - gdu
          - duf
          - atool
          - unrar
          - openssh
          - newsboat
          - ffmpeg
    - name: Create folder
      tags: pip
      ansible.builtin.file:
        path: .pip
        state: directory
        mode: "0755"
    - name: Set pip config
      tags: pip
      ansible.builtin.copy:
        content: |
          [global]
          index-url = https://mirrors.nju.edu.cn/pypi/web/simple/
          [install]
          trusted-host = mirrors.nju.edu.cn
        dest: .pip/pip.conf
        mode: "0600"
    - name: Install pip packaging
      tags: pip
      ansible.builtin.command: pip install packaging
    - name: Pip packages
      tags: pip
      ansible.builtin.pip:
        name:
          - pipx
    - name: Install pipx packages
      tags: pipx
      environment:
        ANDROID_API_LEVEL: 28
      community.general.pipx:
        name: "{{ item }}"
        executable: /data/data/com.termux/files/usr/bin/pipx
      loop:
        - copyparty
        - mdformat
        - advance-touch
        - ansible-core
        - ansible
