convert:
  command: bash -c "ffmpeg -i \"$source\" -f wav - | lame -V 2 --noreplaygain - \"$dest\""
  extension: mp3
directory: {{ joinPath .chezmoi.homeDir "Music" }}
lyrics:
  synced: 'yes'
plugins: mpdupdate fromfilename chroma lryics fish convert fetchart embedart
