{{ if or ( eq .chezmoi.os "linux" ) ( eq .chezmoi.os "windows") -}}
{{ if lookPath "ssh" -}}
Host soft
  Port 23231
  HostName brix.local
Host github.com
  HostName ssh.github.com
  Port 443
  User git
Host termux
  Port 8022
  User u0_a661
  HostName localhost
Host gogs-m6
  Port 23231
  User {{ .my.termux.m6.username }}
  HostName {{ template "ipM6" .chezmoi.hostname }}
Host *
  AddKeysToAgent yes
{{ end -}}
{{ end -}}
