{{ if eq .chezmoi.os "windows" "linux" "android" -}}
{{ if lookPath "ssh" -}}
{{ $username := dict -}}
{{ $username = set $username "windows" "user" -}}
{{ $username = set $username "linux" "zxc" -}}
{{ $termux := dict -}}
{{ $termux = set $termux "note20" (dict "port" 8022 "user" "u0_a664" "ip" (ternary "192.168.1.106" "192.168.123.232" (eq .chezmoi.hostname "work" "work2"))) -}}
{{ $termux = set $termux "note20_adb" (dict "port" 8023 "user" "u0_a664" "ip" "localhost") -}}
{{ $termux = set $termux "m6_adb" (dict "port" 8022 "user" "u0_a455" "ip" "localhost") -}}
{{ $termux = set $termux "m6" (dict "port" 8022 "user" "u0_a455" "ip" "192.168.123.191") -}}
{{ $termux_home := "/data/data/com.termux/files/home" -}}
{{ $windows_home := print "/C:/Users/" $username.windows -}}
{{ $linux_home := print "/home/" $username.linux -}}
{{ $ip := dict -}}
{{ $ip = set $ip "brix" (dict "ip" "192.168.123.206" "port" "22" "user" $username.linux) -}}
{{ $ip = set $ip "soft" (dict "ip" "192.168.123.206" "port" "23231" "user" $username.linux) -}}
{{ $ip = set $ip "nuc" (dict "ip" "192.168.123.123" "port" "22" "user" $username.windows) -}}
{{ $ip = set $ip "work2" (dict "ip" "192.168.1.107" "port" "22" "user" $username.linux) -}}
Host soft
  Port {{ $ip.soft.port }}
  HostName {{ $ip.soft.ip }}
Host nuc
  Port {{ $ip.nuc.port }}
  User {{ $ip.nuc.user }}
  HostName {{ $ip.nuc.ip }}
Host github.com
  HostName ssh.github.com
  Port 443
  User git
Host note20-adb
  Port {{ $termux.note20_adb.port }}
  User {{ $termux.note20_adb.user }}
  HostName {{ $termux.note20_adb.ip }}
Host note20
  Port {{ $termux.note20.port }}
  User {{ $termux.note20.user }}
  HostName {{ $termux.note20.ip }}
Host m6-adb
  Port {{ $termux.m6_adb.port }}
  User {{ $termux.m6_adb.user }}
  HostName {{ $termux.m6_adb.ip }}
{{ if ne .chezmoi.hostname "localhost" -}}
Host gogs-m6
  Port 23231
  User {{ $termux.m6.user }}
  HostName {{ template "ipM6" .chezmoi.hostname }}
{{ end -}}
{{ if eq .chezmoi.hostname "work" "work2" -}}
Host work2
  Port {{ $ip.work2.port }}
  User {{ $ip.work2.user }}
  HostName {{ $ip.work2.ip }}
{{ end -}}
Host *
  AddKeysToAgent yes
{{ end -}}
{{ end -}}
