{{ $cfg := dict -}}
{{ $_ := dict -}}
{{ $cfg = set $cfg "advice" (dict "addEmptyPathspec" false "pushNonFastForward" false "statusHints" false) -}}

{{ $_ = set $_ "sync" (printf "!%s/scoop/apps/legit/current/legit.exe sync" .chezmoi.homeDir) -}}
{{ $_ = set $_ "publish" (printf "!%s/scoop/apps/legit/current/legit.exe publish" .chezmoi.homeDir) -}}
{{ $_ = set $_ "unpublish" (printf "!%s/scoop/apps/legit/current/legit.exe unpublish" .chezmoi.homeDir) -}}
{{ $_ = set $_ "undo" (printf "!%s/scoop/apps/legit/current/legit.exe undo" .chezmoi.homeDir) -}}
{{ $_ = set $_ "branches" (printf "!%s/scoop/apps/legit/current/legit.exe branches" .chezmoi.homeDir) -}}
{{ $cfg = set $cfg "alias" $_ -}}

{{ $cfg = set $cfg "branch" (dict "sort" "-committerdate") -}}

{{ $cfg = set $cfg (print "color " ("decorate" | quote)) (dict "HEAD" "red" "branch" "blue" "remoteBranch" "magenta" "tag" "yellow") -}}
{{ $cfg = set $cfg (print "color " ("diff" | quote)) (dict "context" "white" "frag" "magenta" "meta" "blue bold" "old" "red" "whitespace" "yellow reverse") -}}
{{ $cfg = set $cfg (print "color " ("branch" | quote)) (dict "current" "magenta" "local" "default" "plain" "blue" "remote" "yellow" "upstream" "green") -}}

{{ $cfg = set $cfg "column" (dict "ui" "auto") -}}
{{ $cfg = set $cfg "commit" (dict "template" "~/.config/git/template" "gpgsign" true "verbose" true) -}}

{{ $_ = dict -}}
{{ $_ = set $_ "compression" 9 -}}
{{ $_ = set $_ "editor" (includeTemplate "editor") -}}
{{ $_ = set $_ "excludesfile" "~/.gitignore" -}}
{{ $_ = set $_ "fsmonitor" false -}}
	{{- if lookPath "delta" -}}
	{{ $_ = set $_ "paper" "delta" -}}
	{{- else if lookPath "diff-so-fancy" -}}
	{{ $_ = set $_ "paper" "diff-so-fancy | less '--tabs=4' -RFX" -}}
	{{ end -}}
{{ $_ = set $_ "preloadindex" true -}}
{{ $_ = set $_ "whitespace" "error" -}}
{{ $_ = set $_ "autocrlf" (eq .chezmoi.os "windows" | ternary true "input") -}}
	{{- if eq .chezmoi.os "windows" -}}
	{{ $_ = set $_ "sshCommand" (lookPath "ssh"| replace "\\" "/") -}}
	{{ $_ = set $_ "symlinks" true -}}
	{{- end -}}
{{ $cfg = set $cfg "core" $_ -}}

{{ if eq .chezmoi.os "windows" -}}
{{ if lookPath "git-credential-gopass" -}}
{{ $cfg = set $cfg "credential" (dict "helper" "gopass") -}}
{{ $cfg = set $cfg (print "credential " ("helperselector" | quote)) (dict "selected" "gopass") -}}
{{ else -}}
{{ $cfg = set $cfg "credential" (printf "!%s/scoop/apps/git/current/mingw64/bin/git-credential-manager.exe" .chezmoi.homeDir) -}}
{{ $cfg = set $cfg (print "credential " ("helperselector" | quote)) (dict "selected" "manager") -}}
{{ end -}}
{{ end -}}

{{ if eq .chezmoi.os "linux" -}}
{{ if lookPath "gopass" -}}
{{ $cfg = set $cfg "credential" (dict "helper" "gopass") -}}
{{ end -}}
{{ end -}}

{{ $cfg = set $cfg (print "credential " ("https://gist.github.com" | quote)) (dict "helper" (printf "!%s auth git-credential" (lookPath "gh" | replace "\\" "\\\\" | squote))) -}}
{{ $cfg = set $cfg (print "credential " ("https://github.com" | quote)) (dict "helper" (printf "!%s auth git-credential" (lookPath "gh" | replace "\\" "\\\\" | squote))) -}}

{{ $cfg = set $cfg "delta" (dict "side-by-side" true "navitage" true "file-yellow" true) -}}

{{ $cfg = set $cfg "diff" (dict "algorithm" "histogram" "colorMoved" "plain" "context" 3 "interHunkContext" 10 "mnemonicPrefix" true "renames" true) -}}

{{ $cfg = set $cfg "diff-so-fancy" (dict "changeHunkIndicators" true "markEmptyLines" false "stripLeadingSymbols" true "useUnicodeRuler" true) -}}

{{ $cfg = set $cfg "fetch" (dict "all" true "prune" true "pruneTags" true) -}}

{{ $cfg = set $cfg (print "filter " ("lfs" | quote)) (dict "clean" "git-lfs clean -- %f" "process" "git-lfs filter-process" "required" true "smudge" "git-lfs smudge -- %f") -}}

{{ if or (.my.git.sign.ssh) (eq .chezmoi.os "android") -}}
{{ $cfg = set $cfg "gpg" (dict "format" "ssh") -}}
{{ if eq .chezmoi.os "windows" -}}
{{ $cfg = set $cfg (print "gpg " ("ssh" | quote)) (dict "program" (lookPath "ssh-keygen" | replace "\\" "\\" | quote)) -}}
{{ end -}}
{{ end -}}

{{ if and (.my.git.sign.gpg) (ne .chezmoi.os "android") -}}
{{ $cfg = set $cfg "gpg" (dict "program" (lookPath "gpg")) -}}
{{ end -}}

{{ $cfg = set $cfg "help" (dict "autocorrect" "prompt") -}}

{{ $cfg = set $cfg "init" (dict "defaultBranch" "main") -}}

{{ $cfg = set $cfg "interactive" (dict "diffFilter" "diff-so-fancy --patch" "singlekey" true) -}}

{{ $cfg = set $cfg "interactive-rebase-tool" (dict "inputMoveDown" "Down j" "inputMoveSelectionDown" "l" "inputMoveSelectionUp" "h" "inputMoveUp" "Up k" "inputRedo" "Control+r" "inputUndo" "u") -}}

{{ $cfg = set $cfg "log" (dict "abbrevCommit" true "graphColors" "blue,yellow,cyan,magenta,green,red") -}}

{{ $cfg = set $cfg (print "merge " ("core" | quote)) (dict "attributesfile" "~/.gitattributes") -}}

{{ $cfg = set $cfg "pull" (dict "default" "current" "rebase" true) -}}

{{ $cfg = set $cfg "push" (dict "autoSetupRemote" true "default" "current" "followTags" true "useForceIfIncludes" true) -}}

{{ $cfg = set $cfg "rebase" (dict "autoSquash" true "autoStash" true "missingCommitsCheck" "warn" "updateRefs" true) -}}

{{ $cfg = set $cfg "rerere" (dict "autoupdate" true "enabled" true) -}}

{{ if eq .chezmoi.os "windows" -}}
{{ $cfg = set $cfg "safe" (dict "directory" "*") -}}
{{ end -}}

{{ $cfg = set $cfg "sequence" (dict "editor" "interactive-rebase-tool") -}}

{{ $cfg = set $cfg "status" (dict "branch" true "showStash" true "showUntrackedFiles" "all") -}}

{{ $cfg = set $cfg "tag" (dict "sort" "version:refname") -}}

{{ $cfg = set $cfg (print "url " ("ssh://192.168.123.206:23231/" | quote)) (dict "insteadOf" "soft:") -}}

{{ $cfg = set $cfg (print "url " ("git@github.com:ourgal/" | quote)) (dict "insteadOf" "myg:") -}}

{{ $cfg = set $cfg (print "url " ("git@github.com:" | quote)) (dict "insteadOf" "gh:") -}}

{{ $_ = dict -}}
{{ $_ = set $_ "email" .my.git.user.email -}}
{{ $_ = set $_ "name" .my.git.user.name -}}
	{{ if .my.git.sign.ssh -}}
	{{ $_ = set $_ "signingkey" "~/.ssh/id_ed25519.pub" -}}
	{{ else if .my.git.sign.gpg -}}
	{{ $_ = set $_ "signingkey" "1BE4E2268D47C1D1" -}}
	{{ end -}}

	{{ if eq .chezmoi.os "android" -}}
	{{ $_ = set $_ "signingkey" "~/.ssh/id_ed25519.pub" -}}
	{{ end -}}
{{ $cfg = set $cfg "user" $_ -}}

{{ $cfg = set $cfg (print "annex " ("security" | quote)) (dict "allowed-ip-addresses" "all") -}}

{{ $cfg = set $cfg "git-extras" (dict "default-branch" $cfg.init.defaultBranch "get" (dict "clone-path" "~/src")) -}}

{{ $cfg = set $cfg "merge" (dict "conflictstyle" "zdiff3") -}}
{{ $cfg | toIni -}}
