{{ if or (eq .chezmoi.os "windows") (eq .chezmoi.os "linux") (eq .chezmoi.os "android") -}}
{{ if lookPath "git" -}}
# feat: ✨
# feat: 🔍
# feat: 🔗
# feat: 🔒

# fix: 🐛
# fix: 🐞
# fix: 🩹
# fix: 🚑️

# style: 💅
# style: 🎨
# style: 💄

# ci: 🦊
# ci: 📦

# deploy: 🚀
# deploy: 📦

# chore: 🧹
# chore: 🔧
# chore: ⚙️
# docs: 📜

# refactor: 🔨
# perf: 🚀

# test: 🚦
# debug: 🧪

# BREAKING CHANGE: 🚨
# BREAKING CHANGE: 💥
# BREAKING CHANGE: 💣
{{ end -}}
{{ end -}}
