---
all:
  vars:
    ansible_connection: community.general.wsl
    ansible_user: user
  hosts:
    nuc-wsl-arch:
      ansible_host: nuc.local
      wsl_distribution: archlinux
      wsl_user: root
    work-wsl-arch:
      ansible_host: 192.168.1.110
      wsl_distribution: archlinux
      wsl_user: root
