{
  nixPkgs = [
    "ani-cli"
    "ani-skip"
    "filebot"
    "anup"
    "inotify-tools"
    "trackma-curses"
  ];
  nixX86Pkgs = [
    "animdl"
    "adl"
  ];
  myPkgs = [
    "lobster"
    "sauce"
    "viu"
    "jerry"
  ];
}
