{{ if eq .chezmoi.os "linux" -}}
{{ if lookPath "atuin" -}}
enter_accept = true
sync_address = "https://api.atuin.sh"
sync_frequency = "1h"

[dotfiles]
enabled = true

[sync]
records = true
{{ end -}}
{{ end -}}
