[defaults]
gathering = smart
fact_caching = jsonfile
fact_caching_connection = ~/.cache/ansible/facts
inventory = inventory
roles_path = roles
lookup_plugins = lookup_plugins
nocows = True
callback_result_format = yaml
callbacks_enabled = profile_tasks
bin_ansible_callbacks = True
stdout_callback = community.general.diy
[callback_diy]
runner_on_unreachable_msg=""
[ssh_connection]
pipelining = True
