{{ if includeTemplate "opt" (dict "chezmoi" .chezmoi "my" .my "cmd" "mpv" "opt" (list "mpv" "plugins" "M_x") "os" "linux") | trim | atoi -}}
{{ template "include" (joinPath .chezmoi.homeDir ".local" "share" "repos" "Seme4eg_mpv-scripts" "M-x.lua") }}
{{ end -}}
