{{ if includeTemplate "opt" (dict "chezmoi" .chezmoi "my" .my "cmd" "mpv" "opt" (list "mpv" "plugins" "manga_reader") "os" "linux") | trim | atoi -}}
{{ template "include" (joinPath .chezmoi.homeDir ".local" "share" "repos" "mpv-manga-reader" "manga-reader.lua") }}
{{ end -}}
