{{ if or (eq .chezmoi.os "linux") (eq .chezmoi.os "android") -}}
{{ if lookPath "mpv" -}}
{{ template "include" (joinPath .chezmoi.homeDir ".local" "share" "repos" "mpv-manga-reader" "manga-reader.lua") }}
{{ end -}}
{{ end -}}
