{{ if or (eq .chezmoi.os "linux") (eq .chezmoi.os "android") -}}
{{ if lookPath "mpv" -}}
{{ template "include" (joinPath .chezmoi.homeDir ".local" "share" "repos" "Eisa01_mpv-scripts" "scripts" "SmartCopyPaste.lua") }}
{{ end -}}
{{ end -}}
