{{ if or (eq .chezmoi.os "linux") (eq .chezmoi.os "android") -}}
{{ if lookPath "mpv" -}}
{{ template "include" (joinPath .chezmoi.homeDir ".local" "share" "repos" "mpv_sponsorblock_minimal" "sponsorblock_minimal.lua") }}
{{ end -}}
{{ end -}}
