{{ if includeTemplate "opt" (dict "chezmoi" .chezmoi "my" .my "cmd" "mpv" "opt" (list "mpv" "plugins" "thumbfast") "os" "linux") | trim | atoi -}}
{{ template "include" (joinPath .chezmoi.homeDir ".local" "share" "repos" "thumbfast" "thumbfast.lua") }}
{{ end -}}
