{{ if or (eq .chezmoi.os "linux") (eq .chezmoi.os "android") -}}
{{ if lookPath "mpv" -}}
{{ template "include" (joinPath .chezmoi.homeDir ".local" "share" "repos" "mpv-torrserver-hook" "torrserver_hook.lua") }}
{{ end -}}
{{ end -}}
