{{ if includeTemplate "opt" (dict "chezmoi" .chezmoi "my" .my "cmd" "mpv" "opt" (list "mpv" "plugins" "torrserver_hook") "os" "linux") | trim | atoi -}}
{{ template "include" (joinPath .chezmoi.homeDir ".local" "share" "repos" "mpv-torrserver-hook" "torrserver_hook.lua") }}
{{ end -}}
