{{ if includeTemplate "opt" (dict "chezmoi" .chezmoi "my" .my "cmd" (list "mpv" "yt-dlp") "opt" (list "mpv" "plugins" "ytdlautoformat") "os" "linux") | trim | atoi -}}
{{ template "include" (joinPath .chezmoi.homeDir ".local" "share" "repos" "mpv-ytdlautoformat" "ytdlautoformat.lua") }}
{{ end -}}
