{{ if eq .chezmoi.os "windows" -}}
{{ if eq .chezmoi.hostname "nuc" -}}
{{ gopassRaw "deskflow/nuc/cert" -}}
{{ else if eq .chezmoi.hostname "work" -}}
{{ gopassRaw "deskflow/work/cert" -}}
{{ end -}}
{{ end -}}
