{{ if eq .chezmoi.os "windows" -}}
{{ if eq .chezmoi.hostname "nuc" -}}
{{ if eq .chezmoi.hostname "nuc" -}}
v2:sha256:545f553a4bf4638cadbe6d6e5a8a705008953379001ae9c087c38b485233751d
{{ end -}}
{{ end -}}
{{ end -}}
