# chezmoi:template:left-delimiter=[[ right-delimiter=]]
---
- name: Easyos
  hosts: all
  ignore_unreachable: true
  vars:
    gh_proxy: [[ .my.gh_proxy ]]/
    tmp: /root/.cache
  tasks:
    - name: Update apt cache
      tags: apt
      ansible.builtin.apt:
        update_cache: true
    - name: Install apt packages
      ansible.builtin.apt:
        name:
          # system
          - aptitude
          - ssh-askpass
          # clipboard
          - xclip
          - xsel
          # remote
          - deskflow
          # encrypt
          - keepassxc
          # editor
          - vim
          - vim-gtk3
          - vim-gui-common
          - emacs
          - kakoune
          - neovim
          # image viewer
          - feh
          # browser
          - qutebrowser
          # bookmark
          - buku
          # download
          - aria2
          - transmission-cli
          - transmission-daemon
          # shell
          - fish
          # archive
          - atool
          - 7zip
          # fuzzy finder
          - fzf
          # file manager
          - nnn
          - ranger
          - lf
          - mc
          # terminal
          - kitty
          # share
          - rclone
          # cd
          - zoxide
          # prompt
          - starship
          # less
          - bat
          # grep
          - ripgrep
          # fetch
          - fastfetch
          # screen
          - tmux
          # top
          - btop
          - htop
          # mv
          - mmv
          # du
          - duf
          # dev
          - make
          - git
          - lazygit
          - editorconfig
          # ansible
          - ansible
          - ansible-core
          # diff
          - delta
          # python
          - pipx
          # nodejs
          - nodejs
          - npm
    - name: Gather package facts
      ansible.builtin.package_facts:
        manager: auto
    - name: Chezmoi
      vars:
        v: 2.72.0
      block:
        - name: Download chezmoi
          ansible.builtin.get_url:
            url: "{{ gh_proxy }}https://github.com/twpayne/chezmoi/releases/download/v{{ v }}/chezmoi_{{ v }}_linux_amd64.deb"
            dest: "{{ tmp }}/chezmoi.deb"
            checksum: "sha256:6023435f5393553345ec10c75cd8160658c415f2bf9c3d8def3e120c92faf629"
            mode: "0644"
        - name: Install chezmoi
          ansible.builtin.apt:
            deb: "{{ tmp }}/chezmoi.deb"
      when: "'chezmoi' not in ansible_facts.packages or ansible_facts.packages['chezmoi'][0].version != v"
    - name: Gopass
      vars:
        v: 1.16.1
      block:
        - name: Download gopass
          ansible.builtin.get_url:
            url: "{{ gh_proxy }}https://github.com/gopasspw/gopass/releases/download/v{{ v }}/gopass_{{ v }}_linux_amd64.deb"
            dest: "{{ tmp }}/gopass.deb"
            checksum: "sha256:c96b0e10813598799f2154f22456501ec190f45eaa7fead7beba21f17993a514"
            mode: '0644'
        - name: Install gopass
          ansible.builtin.apt:
            deb: "{{ tmp }}/gopass.deb"
      when: "'gopass' not in ansible_facts.packages or ansible_facts.packages['gopass'][0].version != v"
    - name: Ensure the target font directory exists
      ansible.builtin.file:
        path: /usr/local/share/fonts/nerdsymbols/
        state: directory
        owner: root
        group: root
        mode: '0755'
    - name: Dae
      vars:
        v: 2.0.0
      block:
        - name: Download dae
          ansible.builtin.get_url:
            url: "{{ gh_proxy }}https://github.com/daeuniverse/dae/releases/download/v{{ v }}/dae-linux-x86_64.deb"
            dest: "{{ tmp }}/dae.deb"
            checksum: "sha256:055adbda152f2d28f9190caff515fbecec86f5fd94a94844c15a1dea45d9ec75"
            mode: '0644'
        - name: Install dae
          ansible.builtin.apt:
            deb: "{{ tmp }}/dae.deb"
      when: "'dae' not in ansible_facts.packages or ansible_facts.packages['dae'][0].version != v"
    - name: Ensure the target font directory exists
      ansible.builtin.file:
        path: /usr/local/share/fonts/nerdsymbols/
        state: directory
        owner: root
        group: root
        mode: '0755'
    - name: Download nerdsymbols
      ansible.builtin.get_url:
        url: "{{ gh_proxy }}[[ .my.font.nerdsymbols_url ]]"
        dest: "{{ tmp }}/NerdFontsSymbolsOnly.tar.xz"
        checksum: "sha256:b7ef2283462b435f1fe91d729dc412d5dbe34269dd2c7f4e1d803e4105c8d883"
        mode: '0644'
    - name: Download and extract font archive
      ansible.builtin.unarchive:
        src: "{{ tmp }}/NerdFontsSymbolsOnly.tar.xz"
        dest: /usr/local/share/fonts/nerdsymbols/
        owner: root
        group: root
        mode: '0644'
      notify: Refresh font cache
    - name: Download seanime
      ansible.builtin.get_url:
        url: "{{ gh_proxy }}https://github.com/5rahim/seanime/releases/download/v3.10.2/seanime-3.10.2_Linux_x86_64.tar.gz"
        dest: "{{ tmp }}/seanime.tar.gz"
        checksum: "sha256:c5359806c69aa8b3073b09192d8dde0cc66c03a9481ee48ac37c463246f29ffd"
        mode: '0644'
    - name: Install seanime
      ansible.builtin.unarchive:
        src: "{{ tmp }}/seanime.tar.gz"
        dest: /usr/local/bin/
        owner: root
        group: root
        mode: '0755'
    - name: Add Flathub repository remote
      community.general.flatpak_remote:
        name: flathub
        state: present
        flatpakrepo_url: https://dl.flathub.org/repo/flathub.flatpakrepo
        method: system
  handlers:
    - name: Refresh font cache
      ansible.builtin.command:
        cmd: fc-cache -f
