{{ if eq .chezmoi.os "windows" -}}
{{ if eq .chezmoi.hostname "nuc" -}}
[core]
screenName=nuc
lastVersion=1.25.0.0
coreMode=1
port=24800
interface=
preventSleep=false
language=English
wlClipboard=false
processMode=1
startedBefore=true

[internalConfig]
numColumns=5
numRows=3
hasHeartbeat=false
heartbeat=5000
protocol=1
relativeMouseMoves=false
win32KeepForeground=false
hasSwitchDelay=false
switchDelay=250
hasSwitchDoubleTap=false
switchDoubleTap=250
switchCornerSize=0
disableLockToScreen=false
clipboardSharing=true
clipboardSharingSize=3072
switchCornerArray\1\switchCorner=false
switchCornerArray\2\switchCorner=false
switchCornerArray\3\switchCorner=false
switchCornerArray\4\switchCorner=false
switchCornerArray\size=4
screens\1\name=
screens\2\name=
screens\3\name=
screens\4\name=
screens\5\name=
screens\6\name=
screens\7\name=
screens\8\name=
screens\9\name=
screens\10\name=
screens\11\name=
screens\12\name=
screens\13\name=
screens\14\name=
screens\15\name=
screens\size=15
hotkeys\size=0

[gui]
logExpanded=true
windowGeometry=@Rect(674 293 572 493)
enableUpdateCheck=false
autoHide=true
closeToTray=true
symbolicTrayIcon=true
closeReminder=false

[log]
level=4
toFile=false
file=C:/Users/User/deskflow.log
guiDebug=false

[daemon]
elevate=false

[security]
certificate=C:/Users/User/scoop/apps/deskflow/current/settings/tls/deskflow.pem
keySize=2048
tlsEnabled=true
checkPeerFingerprints=true

[client]
languageSync=true
invertScrollDirection=false
yscroll=120
remoteHost=home.local
{{ end -}}
{{ end -}}
