{{ if eq .chezmoi.os "windows" -}}
{{ if lookPath "hx" -}}
{{ $lsp := list -}}
{{ if lookPath "simple-completion-language-server" -}}
{{ $lsp = append $lsp "scls" -}}
{{ end -}}
{{ if lookPath "ansible-language-server" -}}
{{ $lsp = append $lsp "ansible-language-server" -}}
{{ end -}}
[[language]]
auto-format = true
comment-token = "#"
grammar = "yaml"
injection-regex = "ansible"
language-servers = [{{- $lsp | quoteList | join ", " -}}]
name = "ansible"
scope = "source.yaml"
shebangs = ["ansible-playbook"]

[[language.file-types]]
glob = "playbooks/*.yaml"

[[language.file-types]]
glob = "playbooks/*.yml"

[[language.file-types]]
glob = "group_vars/*.yaml"

[[language.file-types]]
glob = "group_vars/*.yml"

[[language.file-types]]
glob = "host_vars/*.yaml"

[[language.file-types]]
glob = "host_vars/*.yml"

[[language.file-types]]
glob = "vars/*.yaml"

[[language.file-types]]
glob = "vars/*.yml"

[[language.file-types]]
glob = "defaults/*.yaml"

[[language.file-types]]
glob = "defaults/*.yml"

[[language.file-types]]
glob = "tasks/*.yaml"

[[language.file-types]]
glob = "tasks/*.yml"

[[language.file-types]]
glob = "handlers/*.yaml"

[[language.file-types]]
glob = "handlers/*.yml"

[[language.file-types]]
glob = "meta/*.yaml"

[[language.file-types]]
glob = "meta/*.yml"
{{ $lsp := list -}}
{{ if lookPath "simple-completion-language-server" -}}
{{ $lsp = append $lsp "scls" -}}
{{ end -}}
{{ if lookPath "marksman" -}}
{{ $lsp = append $lsp "marksman" -}}
{{ end -}}
{{ if lookPath "markdown-oxide" -}}
{{ $lsp = append $lsp "markdown-oxide" -}}
{{ end -}}
[[language]]
auto-format = true
name = "markdown"
language-servers = [{{- $lsp | quoteList | join ", " -}}]
{{ $lsp := list -}}
{{ if lookPath "simple-completion-language-server" -}}
{{ $lsp = append $lsp "scls" -}}
{{ end -}}
{{ if lookPath "ty" -}}
{{ $lsp = append $lsp "ty" -}}
{{ end -}}
{{ if lookPath "jedi-language-server" -}}
{{ $lsp = append $lsp "jedi" -}}
{{ end -}}
{{ if lookPath "pylsp" -}}
{{ $lsp = append $lsp "pylsp" -}}
{{ end -}}
{{ if lookPath "ruff" -}}
{{ $lsp = append $lsp "ruff" -}}
{{ end -}}
[[language]]
auto-format = true
name = "python"
language-servers = [{{- $lsp | quoteList | join ", " -}}]
{{ $lsp := list -}}
{{ if lookPath "simple-completion-language-server" -}}
{{ $lsp = append $lsp "scls" -}}
{{ end -}}
{{ if lookPath "lua-language-server" -}}
{{ $lsp = append $lsp "lua-language-server" -}}
{{ end -}}
[[language]]
auto-format = true
name = "lua"
language-servers = [{{- $lsp | quoteList | join ", " -}}]
{{ if lookPath "stylua" -}}
[language.formatter]
command = "stylua"
args = ["-"]
{{ end -}}
{{ $lsp := list -}}
{{ if lookPath "simple-completion-language-server" -}}
{{ $lsp = append $lsp "scls" -}}
{{ end -}}
{{ if lookPath "taplo" -}}
{{ $lsp = append $lsp "taplo" -}}
{{ end -}}
{{ if lookPath "tombi" -}}
{{ $lsp = append $lsp "tombi" -}}
{{ end -}}
[[language]]
auto-format = true
name = "toml"
language-servers = [{{- $lsp | quoteList | join ", " -}}]
{{ if lookPath "taplo" -}}
[language.formatter]
command = "taplo"
args = ["fmt", "-"]
{{ end -}}
{{ $lsp := list -}}
{{ if lookPath "simple-completion-language-server" -}}
{{ $lsp = append $lsp "scls" -}}
{{ end -}}
{{ if lookPath "yaml-language-server" -}}
{{ $lsp = append $lsp "yaml-language-server" -}}
{{ end -}}
[[language]]
auto-format = true
name = "yaml"
language-servers = [{{- $lsp | quoteList | join ", " -}}]
{{ if lookPath "yamlfmt" -}}
[language.formatter]
command = "yamlfmt"
args = ["-"]
{{ end -}}
{{ $lsp := list -}}
{{ if lookPath "simple-completion-language-server" -}}
{{ $lsp = append $lsp "scls" -}}
{{ end -}}
{{ if lookPath "vscode-json-language-server" -}}
{{ $lsp = append $lsp "vscode-json-language-server" -}}
{{ end -}}
[[language]]
auto-format = true
name = "json"
language-servers = [{{- $lsp | quoteList | join ", " -}}]
{{ if lookPath "prettier" -}}
[language.formatter]
command = "prettier"
args = ["--parser", "json"]
{{ end -}}
{{ if lookPath "simple-completion-language-server" -}}
[language-server.scls]
command = "simple-completion-language-server"

[language-server.scls.config]
feature_paths = true
feature_snippets = true
feature_unicode_input = true
feature_words = true
max_completion_items = 20
snippets_first = true
{{ end -}}
{{ end -}}
{{ end -}}
