{{ if eq .chezmoi.os "windows" -}}
{{ if lookPath "mc" -}}
{{ $termux := dict -}}
{{ $termux = set $termux "note20" (dict "port" 8023 "user" "u0_a664" "host" "localhost" "ip" (ternary "192.168.1.106" "192.168.123.232" (eq .chezmoi.hostname "work" "work2"))) -}}
{{ $termux = set $termux "m6" (dict "port" 8022 "user" "u0_a455" "host" "localhost" "ip" "192.168.123.191") -}}
{{ $termux_home := "/data/data/com.termux/files/home" -}}
{{ $windows_home := "/C:/Users/User" -}}
{{ $linux_home := (print "/home/" .my.name ) -}}
{{ if eq .chezmoi.os "windows" -}}
ENTRY "AppData" URL "{{ .chezmoi.homeDir }}/AppData/Roaming"
GROUP "note20"
  ENTRY "note20" URL "sh://note20:{{ $termux_home }}"
  ENTRY "note20 sdcard" URL "sh://note20:/sdcard"
ENDGROUP
GROUP "m6"
  ENTRY "m6" URL "sh://m6:{{ $termux_home }}"
  ENTRY "m6 sdcard" URL "sh://m6:/sdcard"
ENDGROUP
{{ if eq .chezmoi.hostname "work" "work2" -}}
ENTRY "work2" URL "sh://work2:{{ $linux_home }}"
{{ end -}}
{{ end -}}
{{ if eq .chezmoi.os "android" -}}
ENTRY "nuc" URL "sh://nuc:{{ $windows_home }}"
{{ end -}}
{{ end -}}
{{ end -}}
