{{ if eq .chezmoi.os "windows" -}}
{{ if lookPath "firefox" -}}
user_pref("browser.search.region", "US");
user_pref("sidebar.visibility", "hide-sidebar");

{{ template "include" (joinPath .chezmoi.homeDir "scoop" "persist" "firefox" "shyfox" "user.js") }}
{{ end -}}
{{ end -}}
