user_pref("browser.search.region", "US");
user_pref("sidebar.visibility", "hide-sidebar");

{{ if eq .my.modules.firefox.theme "shyfox" -}}
{{ template "include" (joinPath .chezmoi.homeDir "scoop" "persist" "firefox" "shyfox" "user.js") }}
{{ else if eq .my.modules.firefox.theme "flexfox" -}}
{{ template "include" (joinPath .chezmoi.homeDir "scoop" "persist" "firefox" "flexfox" "user.js") }}
{{ end -}}
