{{ if eq .chezmoi.os "windows" -}}
{{ if lookPath "clink" -}}
ll=eza --long --icons=auto --group --group-directories-first --time-style relative $*
ls=eza --icons=auto $*
reboot=shutdown /t 0 /r $*
poweroff=shutdown /t 0 /s $*
{{ if lookPath "nircmd" -}}
scroff=nircmd monitor off $*
{{ end -}}
scoop-update=scoop update * && scoop cache remove * && scoop cleanup *
unlock-keepassxc=sh -c "gopass show -o keepassxc/main | keepassxc --pw-stdin {{ joinPath .chezmoi.homeDir "syncthing" "keepassxc" "main.kdbx" | replace "\\" "/" }} &"
{{ end -}}
{{ end -}}
