{{ if eq .chezmoi.os "windows" -}}
{{ if lookPath "clink" -}}
load(io.popen('starship init cmd'):read("*a"))()
{{ if and ( lookPath "starship" ) .my.modules.starship -}}
load(io.popen('starship init cmd'):read("*a"))()
{{ end -}}
{{ if and ( lookPath "oh-my-posh" ) .my.modules.oh_my_posh -}}
load(io.popen('oh-my-posh init cmd'):read("*a"))()
{{ end -}}
{{ end -}}
{{ end -}}
