{{ if lookPath "fdroidcl" -}}
[[repos]]
enabled = true
id = "f-droid"
url = "https://f-droid.org/repo"
[[repos]]
enabled = false
id = "f-droid-archive"
url = "https://f-droid.org/archive"
[[repos]]
enabled = false
id = "cernet"
url = "https://mirrors.cernet.edu.cn/fdroid/repo"
[[repos]]
enabled = false
id = "nju"
url = "https://mirror.nju.edu.cn/fdroid/repo"
[[repos]]
enabled = true
id = "lzzy"
url = "https://apt.izzysoft.de/fdroid/repo"
[[setups]]
apps = [
  "me.hackerchick.raisetoanswer",
  "spam.blocker",
  "org.moire.ultrasonic",
  "org.oxycblt.auxio",
  "org.gateshipone.malp",
  "de.badaix.snapcast",
  "me.echeung.moemoekyun.fdroid",
  "github.paroj.dsub2000",
  "biz.binarysolutions.healthybatterycharging",
  "org.videolan.vlc",
  "dev.jdtech.jellyfin",
  "com.github.libretube",
  "is.xyz.mpv",
  "org.jellyfin.mobile",
  "org.schabi.newpipe",
  "com.gianlu.aria2app",
  "com.github.catfriend1.syncthingfork",
  "org.forkgram.messenger",
  "chat.simplex.app",
  "org.koitharu.kotatsu",
  "ch.protonvpn.android",
  "com.tailscale.ipn",
  "com.axiel7.anihyou",
  "com.predidit.kazumi",
  "com.example.knkpanime",
  "org.github.henryquan.animeone",
  "io.github.jica98",
  "org.koreader.launcher.fdroid",
  "org.kde.kdeconnect_tp",
  "com.osfans.trime",
  "com.termux",
  "com.termux.api",
  "org.breezyweather",
  "de.tnmgl.ntodotxt",
  "org.tasks",
  "inc.flide.vi8",
  "com.secuso.privacyFriendlyCodeScanner",
  "com.machiav3lli.fdroid",
  "org.fdroid.fdroid",
  "zed.rainxch.githubstore",
]
id = "phone"
repos = ["f-droid"]
[[setups]]
apps = [
  "me.hackerchick.raisetoanswer",
  "spam.blocker",
  "biz.binarysolutions.healthybatterycharging",
  "com.github.catfriend1.syncthingfork",
  "org.kde.kdeconnect_tp",
  "com.osfans.trime",
  "org.breezyweather",
  "com.termux",
  "com.termux.api",
  "de.tnmgl.ntodotxt",
  "org.tasks",
  "inc.flide.vi8",
  "com.secuso.privacyFriendlyCodeScanner",
  "com.machiav3lli.fdroid",
  "org.fdroid.fdroid",
  "zed.rainxch.githubstore",
]
id = "sub-phone"
repos = ["f-droid"]
[[setups]]
apps = [
  "com.vrem.wifianalyzer",
  "de.srlabs.snoopsnitch",
  "biz.binarysolutions.healthybatterycharging",
  "org.moire.ultrasonic",
  "org.oxycblt.auxio",
  "org.gateshipone.malp",
  "de.badaix.snapcast",
  "me.echeung.moemoekyun.fdroid",
  "github.paroj.dsub2000",
  "org.videolan.vlc",
  "dev.jdtech.jellyfin",
  "com.github.libretube",
  "is.xyz.mpv",
  "org.jellyfin.mobile",
  "org.schabi.newpipe",
  "com.gianlu.aria2app",
  "com.github.catfriend1.syncthingfork",
  "org.koitharu.kotatsu",
  "com.axiel7.anihyou",
  "com.predidit.kazumi",
  "com.example.knkpanime",
  "org.github.henryquan.animeone",
  "io.github.jica98",
  "org.koreader.launcher.fdroid",
  "org.kde.kdeconnect_tp",
  "com.osfans.trime",
  "com.machiav3lli.fdroid",
  "org.fdroid.fdroid",
  "zed.rainxch.githubstore",
  "org.breezyweather",
  "com.catpuppyapp.puppygit.play.pro",
  "com.droidvim",
  "inc.flide.vi8",
  "com.termux.nix",
  "com.secuso.privacyFriendlyCodeScanner",
]
id = "tablet"
repos = ["f-droid"]
[[setups]]
apps = ["com.github.howeyc.crocgui"]
id = "bak"
repos = ["f-droid"]
{{ end -}}
