{{ if eq .chezmoi.os "windows" "linux" "android" -}}
{{ if lookPath "chezmoi" -}}
encryption = "age"
[age]
    identity = "~/.ssh/id_ed25519"
    symmetric = true
[git]
    autoCommit = false
    autoPush = false
[gopass]
    mode = "builtin"
progress = true
{{ if eq .chezmoi.os "windows" -}}
[interpreter.ps1]
    command = "powershell"
    args = []
{{ if lookPath "pwsh" -}}
[cd]
    command = "pwsh"
{{ end -}}
{{ end -}}
[edit]
    hardlink = false
{{ if lookPath "difft" -}}
[diff]
    command = "difft"
    args = ["{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
{{ else if lookPath "meld" -}}
[diff]
    command = "meld"
    args = ["--diff", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
{{ else if lookPath "delta" -}}
[diff]
    pager = "delta"
{{ end -}}
{{ end -}}
{{ end -}}
