{{ if lookPath "chezmoi" -}}
encryption = "age"
[age]
    identity = "~/.ssh/id_ed25519"
    symmetric = true
[git]
    autoCommit = false
    autoPush = false
{{ if eq .chezmoi.os "windows" -}}
[interpreter.ps1]
    command = "powershell"
    args = []
{{ if lookPath "pwsh" -}}
[cd]
    command = "pwsh"
{{ end -}}
{{ end -}}
{{ end -}}
