encryption = "age"
[age]
    identity = "~/.ssh/id_ed25519"
    symmetric = true
[git]
    autoCommit = false
    autoPush = false
[gopass]
    mode = "builtin"
progress = true
{{ if eq .chezmoi.os "windows" -}}
[interpreter.ps1]
    command = "powershell"
    args = []
[cd]
    command = {{ .my.shell.windows | quote }}
{{ end -}}
[edit]
    hardlink = false
{{ if lookPath "delta" -}}
[diff]
    command = "delta"
    args = ["-s", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
{{ else if lookPath "difft" -}}
[diff]
    command = "difft"
    args = ["{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
{{ else if lookPath "meld" -}}
[diff]
    command = "meld"
    args = ["--diff", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
{{ end -}}
