{{ if includeTemplate "opt" (dict "chezmoi" .chezmoi "my" .my "cmd" "mpv" "opt" (list "mpv" "enable") "os" "windows") | trim | atoi -}}
{{ if includeTemplate "opt" (dict "chezmoi" .chezmoi "my" .my "cmd" "mpv" "opt" (list "mpv" "plugins" "anilist_updater") "os" "windows") | trim | atoi -}}
Ctrl+a script-binding mpv_anilist_updater/update_anilist
Alt+a script-binding mpv_anilist_updater/launch_anilist
D script-binding mpv_anilist_updater/open_folder
B script-binding mpv_anilist_updater/correct_anime_id
{{ end -}}
{{ if includeTemplate "opt" (dict "chezmoi" .chezmoi "my" .my "cmd" "mpv" "opt" (list "mpv" "plugins" "autocrop") "os" "windows") | trim | atoi -}}
X script-binding auto_crop/toggle_crop
{{ end -}}
{{ end -}}
