af=%11%scaletempo2
alang=%16%ja,jp,jpn,en,eng
audio-file-auto=%5%fuzzy
audio-pitch-correction=%3%yes
background-color=%7%#000000
blend-subtitles=%5%video
force-seekable=%3%yes
fullscreen=%3%yes
hwdec=%4%auto
osd-back-color=%7%#282a2e
osd-border-color=%7%#282a2e
osd-color=%7%#c5c8c6
osd-font=%11%DejaVu Sans
osd-shadow-color=%7%#1d1f21
pause=%2%no
save-position-on-quit=%3%yes
slang=%46%en,eng,chs,sc,zh,chi,zho,zh-Hant,zh-CN,zh-Hans
volume=%3%100
volume-max=%3%200
sub-auto=%5%fuzzy
sub-font=%{{ len .my.font.sans }}%{{ .my.font.sans }}
sub-color="#FFFF00"             # Yellow text
sub-border-color="#000000"      # Black border for contrast
sub-border-size=1               # Thickness of the outline
sub-shadow-color="#000000"      # Subtle shadow
sub-shadow-offset=1
osd-font=%{{ len .my.font.monospace }}%{{ .my.font.monospace }}
save-watch-history=%{{ len "yes" }}%{{ "yes" }}
keep-open=%{{ len "no" }}%{{ "no" }}
[youtube]
profile-cond=path:find('youtu%.?be')
ytdl-format=18/22
speed=2.0
ytdl-raw-options=write-auto-sub=
profile-restore=copy
[bilibili]
profile-cond=path:find('bilibili%.com')
ytdl-raw-options=cookies-from-browser=firefox:~/scoop/persist/firefox
profile-restore=copy
