{{ if eq .chezmoi.os "windows" -}}
{{ if and (lookPath "wt") (lookPath "pwsh") -}}
Run("wt pwsh", , "Max")
{{ end -}}
{{ if lookPath "firefox" -}}
Run("firefox", , "Max")
{{ else if lookPath "brave" -}}
Run("brave", , "Max")
{{ end -}}
{{ if stat "C:/ProgramData/scoop/apps/deskflow/current/settings/Deskflow.conf" -}}
Run("deskflow-core client", , "Hide")
{{ end -}}
{{ end -}}
