{{ if eq .chezmoi.os "windows" -}}
RunScoop(app)
{
    scoop_apps_dir := "c:/programdata/Microsoft/Windows/Start Menu/Programs/Scoop Apps"
    Run(scoop_apps_dir "/" app ".lnk", "c:/users/user", "Max")
}
{{ if and (lookPath "wt") (lookPath "pwsh") -}}
RunScoop("Windows Terminal")
{{ end -}}
{{ if stat "D:/ProgramsFiles/Mozilla Firefox/firefox.exe" -}}
Run("C:\ProgramData\Microsoft\Windows\Start Menu\Programs\Firefox.lnk", , "Max")
{{ else if lookPath "brave" -}}
Run("D:/scoop/apps/brave/current/brave.exe", "c:/users/user" , "Max")
{{ end -}}
{{ if and ( stat "C:/ProgramData/scoop/apps/deskflow/current/settings/Deskflow.conf" ) (lookPath "deskflow-core") -}}
Run("deskflow-core client", , "Hide")
{{ end -}}
{{ end -}}
