---
all:
  vars:
    ansible_connection: community.general.wsl
    ansible_user: user
  hosts:
    nuc-windows-wsl-debian:
      ansible_host: nuc.local
      wsl_distribution: debian
      wsl_user: root
    work-wsl-debian:
      ansible_host: 192.168.1.110
      wsl_distribution: debian
      wsl_user: root
