{
    "$help": "https://aka.ms/terminal-documentation",
    "$schema": "https://aka.ms/terminal-profiles-schema",
    "actions": [],
    "copyFormatting": "none",
    "copyOnSelect": false,
    "defaultProfile": "{574e775e-4f2a-5b96-ac1e-a2962a402336}",
    "keybindings": 
    [
        {
            "id": "Terminal.CopyToClipboard",
            "keys": "ctrl+c"
        },
        {
            "id": "Terminal.PasteFromClipboard",
            "keys": "ctrl+v"
        },
        {
            "id": "Terminal.DuplicatePaneAuto",
            "keys": "alt+shift+d"
        }
    ],
    "newTabMenu": 
    [
        {
            "type": "remainingProfiles"
        }
    ],
    "profiles": 
    {
        "defaults": {},
        "list": 
        [
            {
                "guid": "{574e775e-4f2a-5b96-ac1e-a2962a402336}",
                "cursorShape": "filledBox",
                "font": 
                {
                    "face": "Maple Mono NF CN"
                },
                "startingDirectory": "%USERPROFILE%",
                "opacity": 90,
                "hidden": false,
                "closeOnExit": "graceful",
                "name": "PowerShell",
                "source": "Windows.Terminal.PowershellCore"
            },
            {
                "commandline": "%SystemRoot%\\System32\\cmd.exe",
                "cursorShape": "filledBox",
                "font": 
                {
                    "face": "Maple Mono NF CN"
                },
                "startingDirectory": "%USERPROFILE%",
                "opacity": 90,
                "hidden": false,
                "closeOnExit": "graceful",
                "guid": "{0caa0dad-35be-5f56-a8ff-afceeeaa6101}",
                "name": "Command Prompt"
            },
            {
                "commandline": "%SystemRoot%\\System32\\WindowsPowerShell\\v1.0\\powershell.exe",
                "cursorShape": "filledBox",
                "font": 
                {
                    "face": "Maple Mono NF CN"
                },
                "startingDirectory": "%USERPROFILE%",
                "opacity": 90,
                "hidden": false,
                "closeOnExit": "graceful",
                "guid": "{61c54bbd-c2c6-5271-96e7-009a87ff44bf}",
                "name": "Windows PowerShell"
            },
            {
                "commandline": "%USERPROFILE%\\.local\\bin\\xonsh.exe",
                "cursorShape": "filledBox",
                "font": 
                {
                    "face": "Maple Mono NF CN"
                },
                "startingDirectory": "%USERPROFILE%",
                "opacity": 90,
                "hidden": false,
                "closeOnExit": "graceful",
                "guid": "{1039824d-f5da-468d-856d-d7373d40325e}",
                "name": "Xonsh"
            },
            {
                "commandline": "%USERPROFILE%\\scoop\\apps\\git\\current\\bin\\bash.exe -i -l",
                "cursorShape": "filledBox",
                "font": 
                {
                    "face": "Maple Mono NF CN"
                },
                "startingDirectory": "%USERPROFILE%",
                "opacity": 90,
                "hidden": false,
                "closeOnExit": "graceful",
                "guid": "{8f5e00bb-5ac4-4e63-8538-5bcbbf827559}",
                "name": "Git Bash"
            },
            {
                "commandline": "%USERPROFILE%\\scoop\\shims\\msys2.cmd",
                "cursorShape": "filledBox",
                "font": 
                {
                    "face": "Maple Mono NF CN"
                },
                "startingDirectory": "%USERPROFILE%",
                "opacity": 90,
                "hidden": false,
                "closeOnExit": "graceful",
                "guid": "{f60ba69c-a957-410c-a1c6-8b7484ee591c}",
                "name": "MSYS"
            },
            {
                "commandline": "%USERPROFILE%\\scoop\\shims\\nu.exe",
                "cursorShape": "filledBox",
                "font": 
                {
                    "face": "Maple Mono NF CN"
                },
                "startingDirectory": "%USERPROFILE%",
                "opacity": 90,
                "hidden": false,
                "closeOnExit": "graceful",
                "guid": "{2a38cb46-e594-415f-9cce-1e3d1b313ee9}",
                "name": "Nu shell"
            },
            {
                "commandline": "%USERPROFILE%\\scoop\\shims\\yori.exe",
                "cursorShape": "filledBox",
                "font": 
                {
                    "face": "Maple Mono NF CN"
                },
                "startingDirectory": "%USERPROFILE%",
                "opacity": 90,
                "hidden": false,
                "closeOnExit": "graceful",
                "guid": "{90a23420-d58c-4627-9e4d-6ab897661ef7}",
                "name": "Yori"
            },
            {
                "guid": "{b453ae62-4e3d-5e58-b989-0a998ec441b8}",
                "cursorShape": "filledBox",
                "font": 
                {
                    "face": "Maple Mono NF CN"
                },
                "startingDirectory": "%USERPROFILE%",
                "opacity": 90,
                "hidden": false,
                "closeOnExit": "graceful",
                "name": "Azure Cloud Shell",
                "source": "Windows.Terminal.Azure"
            }
        ]
    },
    "schemes": [],
    "themes": []
}

