{{ $os := .chezmoi.os -}}
{{ if eq .chezmoi.os "linux" -}}
{{ $os = .chezmoi.osRelease.id -}}
{{ end -}}
#Requires AutoHotkey v2.0
#SingleInstance Force

Run "gopass show -c keepassxc/main", ,"Hide"
WinWait "Message from User"

{{ if includeTemplate "opt" (dict "chezmoi" .chezmoi "my" .my "cmd" "glazewm" "opt" (list "windows" "startup" "glazewm" "enable") "os" "windows") | trim | atoi -}}
Run "glazewm command focus --workspace 9"
{{ end -}}
Run "keepassxc"
WinWaitActive " - KeePassXC"
WinActive " - KeePassXC"

Send "^v"
Send "{Enter}"
return
