{{ if eq .chezmoi.os "windows" -}}
{{ if lookPath "pwsh" -}}
$env:EDITOR = "hx"
$env:shell_startup = "~\AppData\Roaming\Microsoft\Windows\Start Menu\Programs\Startup"
{{ if lookPath "sfsu" -}}
Invoke-Expression (&sfsu hook)
{{ end -}}
New-Alias reboot Restart-Computer
New-Alias poweroff Stop-Computer
Import-Module PSReadLine
Set-PSReadLineKeyHandler -Key Tab -Function Complete
#region Smart Insert/Delete

# The next four key handlers are designed to make entering matched quotes
# parens, and braces a nicer experience.  I'd like to include functions
# in the module that do this, but this implementation still isn't as smart
# as ReSharper, so I'm just providing it as a sample.

Set-PSReadLineKeyHandler -Chord '"',"'" `
                         -BriefDescription SmartInsertQuote `
                         -LongDescription "Insert paired quotes if not already on a quote" `
                         -ScriptBlock {
    param($key, $arg)

    $line = $null
    $cursor = $null
    [Microsoft.PowerShell.PSConsoleReadLine]::GetBufferState([ref]$line, [ref]$cursor)

    if ($line.Length -gt $cursor -and $line[$cursor] -eq $key.KeyChar) {
        # Just move the cursor
        [Microsoft.PowerShell.PSConsoleReadLine]::SetCursorPosition($cursor + 1)
    }
    else {
        # Insert matching quotes, move cursor to be in between the quotes
        [Microsoft.PowerShell.PSConsoleReadLine]::Insert("$($key.KeyChar)" * 2)
        [Microsoft.PowerShell.PSConsoleReadLine]::GetBufferState([ref]$line, [ref]$cursor)
        [Microsoft.PowerShell.PSConsoleReadLine]::SetCursorPosition($cursor - 1)
    }
}

Set-PSReadLineKeyHandler -Key '(','{','[' `
                         -BriefDescription InsertPairedBraces `
                         -LongDescription "Insert matching braces" `
                         -ScriptBlock {
    param($key, $arg)

    $closeChar = switch ($key.KeyChar)
    {
        <#case#> '(' { [char]')'; break }
        <#case#> '{' { [char]'}'; break }
        <#case#> '[' { [char]']'; break }
    }

    $selectionStart = $null
    $selectionLength = $null
    [Microsoft.PowerShell.PSConsoleReadLine]::GetSelectionState([ref]$selectionStart, [ref]$selectionLength)

    $line = $null
    $cursor = $null
    [Microsoft.PowerShell.PSConsoleReadLine]::GetBufferState([ref]$line, [ref]$cursor)
    
    if ($selectionStart -ne -1)
    {
      # Text is selected, wrap it in brackets
      [Microsoft.PowerShell.PSConsoleReadLine]::Replace($selectionStart, $selectionLength, $key.KeyChar + $line.SubString($selectionStart, $selectionLength) + $closeChar)
      [Microsoft.PowerShell.PSConsoleReadLine]::SetCursorPosition($selectionStart + $selectionLength + 2)
    } else {
      # No text is selected, insert a pair
      [Microsoft.PowerShell.PSConsoleReadLine]::Insert("$($key.KeyChar)$closeChar")
      [Microsoft.PowerShell.PSConsoleReadLine]::SetCursorPosition($cursor + 1)
    }
}

Set-PSReadLineKeyHandler -Key ')',']','}' `
                         -BriefDescription SmartCloseBraces `
                         -LongDescription "Insert closing brace or skip" `
                         -ScriptBlock {
    param($key, $arg)

    $line = $null
    $cursor = $null
    [Microsoft.PowerShell.PSConsoleReadLine]::GetBufferState([ref]$line, [ref]$cursor)

    if ($line[$cursor] -eq $key.KeyChar)
    {
        [Microsoft.PowerShell.PSConsoleReadLine]::SetCursorPosition($cursor + 1)
    }
    else
    {
        [Microsoft.PowerShell.PSConsoleReadLine]::Insert("$($key.KeyChar)")
    }
}

Set-PSReadLineKeyHandler -Key Backspace `
                         -BriefDescription SmartBackspace `
                         -LongDescription "Delete previous character or matching quotes/parens/braces" `
                         -ScriptBlock {
    param($key, $arg)

    $line = $null
    $cursor = $null
    [Microsoft.PowerShell.PSConsoleReadLine]::GetBufferState([ref]$line, [ref]$cursor)

    if ($cursor -gt 0)
    {
        $toMatch = $null
        if ($cursor -lt $line.Length)
        {
            switch ($line[$cursor])
            {
                <#case#> '"' { $toMatch = '"'; break }
                <#case#> "'" { $toMatch = "'"; break }
                <#case#> ')' { $toMatch = '('; break }
                <#case#> ']' { $toMatch = '['; break }
                <#case#> '}' { $toMatch = '{'; break }
            }
        }

        if ($toMatch -ne $null -and $line[$cursor-1] -eq $toMatch)
        {
            [Microsoft.PowerShell.PSConsoleReadLine]::Delete($cursor - 1, 2)
        }
        else
        {
            [Microsoft.PowerShell.PSConsoleReadLine]::BackwardDeleteChar($key, $arg)
        }
    }
}

#endregion Smart Insert/Delete
Set-PSReadLineKeyHandler -Key Alt+e -Function ViEditVisually
# This is an example of a macro that you might use to execute a command.
# This will add the command to history.
Set-PSReadLineKeyHandler -Key Ctrl+g `
                         -BriefDescription Lazygit `
                         -LongDescription "Run lazygit" `
                         -ScriptBlock {
    [Microsoft.PowerShell.PSConsoleReadLine]::RevertLine()
    [Microsoft.PowerShell.PSConsoleReadLine]::Insert("lazygit")
    [Microsoft.PowerShell.PSConsoleReadLine]::AcceptLine()
}
# parameter color
Set-PSReadLineOption -Colors @{ "parameter"="Blue"; "operator"="DarkMagenta" }
Set-PSReadlineKeyHandler -Key Ctrl+d -Function DeleteCharOrExit
{{ if lookPath "eza" -}}
function ll {
  Param
  (
    [string] $path = "."
  )

  eza --long --icons=auto --group --group-directories-first --time-style relative $Path
}
{{ end -}}
{{ if lookPath "eza" -}}
function lla {
  Param
  (
    [string] $path = "."
  )

  eza --long --all --icons=auto --group --group-directories-first --time-style relative $Path
}
{{ end -}}
function bd {
  cd ..
}
function _git_commit_and_push {
  git add .
  git commit
  git push
}

Set-PSReadLineKeyHandler -Key Alt+x `
                         -BriefDescription git_update `
                         -LongDescription "Git commit and push" `
                         -ScriptBlock {
    [Microsoft.PowerShell.PSConsoleReadLine]::RevertLine()
    [Microsoft.PowerShell.PSConsoleReadLine]::Insert("_git_commit_and_push")
    [Microsoft.PowerShell.PSConsoleReadLine]::AcceptLine()
}
{{ if lookPath "nircmd" -}}
# turn off monitor
function scroff {
  nircmd monitor off
}
{{ end -}}
{{ if lookPath "yt-dlp" -}}
function yt {
    yt-dlp -f "bestvideo[height<=1080]+bestaudio/best[height<=1080]" (cb) && mpv (ls | sort LastWriteTime -Descending)[0].Name
}
{{ end -}}
{{ if lookPath "scoop" -}}
function scoop-update {
    scoop update *
    scoop cache rm *
    scoop cleanup *
}
{{ end -}}
{{ if lookPath "choco" -}}
# Import the Chocolatey Profile that contains the necessary code to enable
# tab-completions to function for `choco`.
# Be aware that if you are missing these lines from your profile, tab completion
# for `choco` will not function.
# See https://ch0.co/tab-completion for details.

$ChocolateyProfile = "$env:ChocolateyInstall\helpers\chocolateyProfile.psm1"
if (Test-Path($ChocolateyProfile)) {
  Import-Module "$ChocolateyProfile"
}
{{ end -}}
{{ if lookPath "carapace" -}}
# carapace
$env:CARAPACE_BRIDGES = 'zsh,fish,bash,inshellisense,powershell' # optional
Set-PSReadLineOption -Colors @{ "Selection" = "`e[7m" }
Set-PSReadlineKeyHandler -Key Tab -Function MenuComplete
carapace _carapace | Out-String | Invoke-Expression
{{ end -}}
{{ if lookPath "starship" -}}
# starship
Invoke-Expression (&starship init powershell)
{{ end -}}
{{ if lookPath "zoxide" -}}
# zoxide
Invoke-Expression (& { (zoxide init powershell | Out-String) })
{{ end -}}
# PSFzf
Import-Module PSFzf
Set-PsFzfOption -PSReadlineChordProvider 'Ctrl+t' -PSReadlineChordReverseHistory 'Ctrl+r' -EnableAliasFuzzyKillProcess
# Set-PSReadLineKeyHandler -Key Tab -ScriptBlock { Invoke-FzfTabCompletion }
Set-PSReadLineKeyHandler -Key Ctrl+o `
                         -BriefDescription FuzzyEdit `
                         -LongDescription "Fuzzy Edit" `
                         -ScriptBlock {
    [Microsoft.PowerShell.PSConsoleReadLine]::RevertLine()
    [Microsoft.PowerShell.PSConsoleReadLine]::Insert("Invoke-FuzzyEdit")
    [Microsoft.PowerShell.PSConsoleReadLine]::AcceptLine()
}
{{ if lookPath "atuin" -}}
# atuin
Invoke-Expression -Command $(atuin init powershell | out-string)
{{ end -}}
{{ end -}}
{{ end -}}
