let gh_proxy = '{{ .my.gh_proxy }}/https://github.com/'
"[[[ plugins
call plug#begin()
"[[[ align
" Plug 'godlygeek/tabular'
" Plug 'junegunn/vim-easy-align', { 'on': [ '<Plug>(EasyAlign)', 'EasyAlign' ] }
" Plug 'vim-scripts/align', { 'on': 'Align' }
"]]]
"[[[ auto pair
" Plug 'tmsvg/pear-tree'
" Plug 'cohama/lexima.vim'
" Plug 'Raimondi/delimitMate'
"]]]
"[[[ pair
Plug gh_proxy . 'tpope/vim-endwise'
"]]]
"[[[ termux
if g:is_android
  Plug gh_proxy . 'vim-utilities/termux-clipboard'
endif
"]]]
"[[[ command completion
if !exists('*wildtrigger')
Plug gh_proxy . 'girishji/vimsuggest'
endif
"]]]
"[[[ command preview
Plug gh_proxy . 'markonm/traces.vim'
"]]]
"[[[ comment
" Plug gh_proxy . 'tyru/caw.vim'
"]]]
"[[[ dot repeat
Plug gh_proxy . 'tpope/vim-repeat'
"]]]
"[[[ file support
Plug gh_proxy . 'tpope/vim-eunuch' " file command
" Plug 'pbrisbin/vim-mkdir' " auto create dir
" Plug 'lambdalisue/vim-suda' " auto sudo when write
"]]]
"[[[ file manager
" Plug 'habamax/vim-dir'
" Plug 'nda-cunh/SupraWater'
" Plug 'Ashik80/VimExplorer'
" Plug 'tpope/vim-vinegar'

Plug gh_proxy . 'justinmk/vim-dirvish'
Plug gh_proxy . 'roginfarrer/vim-dirvish-dovish'
" Plug gh_proxy . 'ptzz/lf.vim' " not start at current buffer path on windows
"]]]
"[[[ format
" Plug gh_proxy . 'sbdchd/neoformat'
"]]]
"[[[ file picker
Plug gh_proxy . 'junegunn/fzf'
Plug gh_proxy . 'junegunn/fzf.vim'
"]]]
"[[[ git
if executable('git')
  Plug gh_proxy . 'tpope/vim-fugitive'
  " Plug gh_proxy . 'airblade/vim-gitgutter'
  Plug gh_proxy . 'mhinz/vim-signify'
endif
Plug gh_proxy . 'rhysd/conflict-marker.vim'
Plug gh_proxy . 'Eliot00/git-lens.vim'
" Plug 'rhysd/git-messenger.vim'
"]]]
"[[[ integration
Plug gh_proxy . 'alker0/chezmoi.vim' " chezmoi

" Plug 'raghur/vim-ghost' " browser text input
" Plug 'roxma/nvim-yarp', v:version >= 800 && !has('nvim') ? {} : { 'on': [], 'for': [] }
" Plug 'roxma/vim-hug-neovim-rpc', v:version >= 800 && !has('nvim') ? {} : { 'on': [], 'for': [] }
"
Plug gh_proxy . 'tpope/vim-dispatch' " async make
Plug gh_proxy . 'voldikss/vim-floaterm' " terminal
"]]]
"[[[ enhance
Plug gh_proxy . 'tpope/vim-unimpaired'
Plug gh_proxy . 'nelstrom/vim-visual-star-search'
Plug gh_proxy . 'zef/vim-cycle' " C-A C-X
" Plug gh_proxy . 'tommcdo/vim-exchange' " cx exchange text
Plug gh_proxy . 'haya14busa/is.vim' " auto nohlsearch
Plug gh_proxy . 'andymass/vim-matchup' " enhance asterrisk
" Plug gh_proxy . 'svermeulen/vim-subversive' " substitute motion
Plug gh_proxy . 'AndrewRadev/switch.vim' " regex replace motion
Plug gh_proxy . 'AndrewRadev/splitjoin.vim' " gS gJ list split and join
Plug gh_proxy . 'wellle/targets.vim' " enhance targets
Plug gh_proxy . 'terryma/vim-expand-region' " + expand region
Plug gh_proxy . 'mg979/vim-visual-multi' " multiple cursor
Plug gh_proxy . 'tpope/vim-surround' " pair markers
" Plug 'vim-polyglot/vim-polyglot' " syntax highlight, conflicts with auto session
Plug gh_proxy . 'liuchengxu/vim-which-key' " menu
" Plug gh_proxy . 'yianwillis/vimcdoc' " vim chinese doc
Plug gh_proxy . 'romainl/vim-qf' " quickfix
" Plug gh_proxy . 'ourgal/central.vim' " undo backup and swap
Plug gh_proxy . 'preservim/tagbar' " ctags
"]]]
"[[[ lisp
if executable('cargo') && !g:is_android
  Plug gh_proxy . 'eraserhd/parinfer-rust', {'do': 'cargo build --release'}
endif
"]]]
"[[[ markdown
Plug gh_proxy . 'godlygeek/tabular'
Plug gh_proxy . 'preservim/vim-markdown'
"]]]
"[[[ latex
Plug gh_proxy . 'lervag/vimtex', { 'for': 'tex' }
"]]]
"[[[ lsp
if executable('node')
  Plug gh_proxy . 'neoclide/coc.nvim', {'branch': 'release'}
endif
" Plug 'yegappan/lsp'
"]]]
"[[[ lint
" Plug 'dense-analysis/ale'
"]]]
"[[[ org
Plug gh_proxy . 'jceb/vim-orgmode'
Plug gh_proxy . 'tpope/vim-speeddating'
"]]]
"[[[ snippet
Plug gh_proxy . 'honza/vim-snippets'
" Plug 'SirVer/ultisnips'
"]]]
"[[[ template
Plug gh_proxy . 'aperezdc/vim-template'
"]]]
"[[[ session
if !has('gui_running')
Plug gh_proxy . 'ourgal/vim-workspace'
endif
"]]]
"[[[ status line
Plug gh_proxy . 'itchyny/lightline.vim'
"]]]
"[[[ indent
Plug gh_proxy . 'Yggdroot/indentLine'
"]]]
"[[[ theme
" Plug 'ghifarit53/tokyonight-vim'
" Plug 'https://codeberg.org/mao-yining/vim-catppuccin'
Plug gh_proxy . 'embark-theme/vim', { 'as': 'embark', 'branch': 'main' }
" Plug gh_proxy . 'joshdick/onedark.vim'
"]]]
"[[[ start screen
if has('gui_running')
Plug gh_proxy . 'mhinz/vim-startify'
endif
"]]]
"[[[ time tracking
Plug gh_proxy . 'wakatime/vim-wakatime'
"]]]
"[[[ ansible
Plug gh_proxy . 'pearofducks/ansible-vim'
"]]]
call plug#end()
"]]]
" vim: set foldmarker=[[[,]]]:
