{{ if eq .chezmoi.os "windows" -}}
{{ if lookPath "vim" -}}
call plug#begin()

" Plug 'godlygeek/tabular'
" Plug 'junegunn/vim-easy-align', { 'on': [ '<Plug>(EasyAlign)', 'EasyAlign' ] }
" Plug 'vim-scripts/align', { 'on': 'Align' }
" Plug 'tmsvg/pear-tree'
" Plug 'cohama/lexima.vim'
" Plug 'Raimondi/delimitMate'
Plug 'tpope/vim-endwise'
{{ if eq .chezmoi.os "android" -}}
Plug 'vim-utilities/termux-clipboard'
{{ end -}}
Plug 'markonm/traces.vim'
Plug 'tyru/caw.vim'
Plug 'tpope/vim-repeat'
Plug 'tpope/vim-eunuch'
" create non-exist dir when saving file
" Plug 'pbrisbin/vim-mkdir'
" Plug 'lambdalisue/vim-suda'
" Plug 'habamax/vim-dir'
" Plug 'nda-cunh/SupraWater'
" Plug 'Ashik80/VimExplorer'
" Plug 'tpope/vim-vinegar'
Plug 'justinmk/vim-dirvish'
Plug 'roginfarrer/vim-dirvish-dovish'
Plug 'sbdchd/neoformat'
Plug 'junegunn/fzf'
Plug 'junegunn/fzf.vim'
{{ if lookPath "git" -}}
Plug 'tpope/vim-fugitive'
{{ end -}}
{{ if lookPath "git" -}}
Plug 'airblade/vim-gitgutter'
{{ end -}}
Plug 'rhysd/conflict-marker.vim'
Plug 'Eliot00/git-lens.vim'
" Plug 'rhysd/git-messenger.vim'
" Plug 'alker0/chezmoi.vim'
" Plug 'raghur/vim-ghost'
" Plug 'roxma/nvim-yarp', v:version >= 800 && !has('nvim') ? {} : { 'on': [], 'for': [] }
" Plug 'roxma/vim-hug-neovim-rpc', v:version >= 800 && !has('nvim') ? {} : { 'on': [], 'for': [] }
Plug 'tpope/vim-dispatch'
Plug 'voldikss/vim-floaterm'
Plug 'tpope/vim-unimpaired'
Plug 'nelstrom/vim-visual-star-search'
{{ if lookPath "cargo" -}}
Plug 'eraserhd/parinfer-rust', {'do': 'cargo build --release'}
{{ end -}}
Plug 'godlygeek/tabular'
Plug 'preservim/vim-markdown'
Plug 'lervag/vimtex', { 'for': 'tex' }
{{ if lookPath "node" -}}
Plug 'neoclide/coc.nvim', {'branch': 'release'}
{{ end -}}
" Plug 'yegappan/lsp'
" Plug 'dense-analysis/ale'
Plug 'zef/vim-cycle'
Plug 'tommcdo/vim-exchange'
Plug 'haya14busa/is.vim'
 Plug 'andymass/vim-matchup'
Plug 'svermeulen/vim-subversive'
Plug 'AndrewRadev/switch.vim'
Plug 'AndrewRadev/splitjoin.vim'
Plug 'wellle/targets.vim'
Plug 'terryma/vim-expand-region'
Plug 'mg979/vim-visual-multi'
Plug 'jceb/vim-orgmode'
Plug 'tpope/vim-speeddating'
Plug 'SirVer/ultisnips'
Plug 'honza/vim-snippets'
Plug 'aperezdc/vim-template'
Plug 'ourgal/vim-workspace'
Plug 'itchyny/lightline.vim'
Plug 'tpope/vim-surround'
Plug 'vim-polyglot/vim-polyglot'
" Plug 'ghifarit53/tokyonight-vim'
Plug 'https://codeberg.org/mao-yining/vim-catppuccin'
Plug 'liuchengxu/vim-which-key'

call plug#end()
{{ end -}}
{{ end -}}
