---
all:
  hosts:
    easy1:
      ansible_user: root
      ansible_host: {{ eq .chezmoi.hostname "easy1" | ternary "localhost" "192.168.123.123" }}
      ansible_ssh_pass: {{ includeTemplate "gopass" "password/linux/user" }}
