{{ if or (eq .chezmoi.os "linux") (eq .chezmoi.os "android") -}}
{{ if lookPath "vim" -}}
call plug#begin()

Plug 'junegunn/fzf'
Plug 'junegunn/fzf.vim'
Plug 'liuchengxu/vim-which-key'
Plug 'tyru/caw.vim'
Plug 'alker0/chezmoi.vim'
" Plug 'raghur/vim-ghost'
" Plug 'roxma/nvim-yarp', v:version >= 800 && !has('nvim') ? {} : { 'on': [], 'for': [] }
" Plug 'roxma/vim-hug-neovim-rpc', v:version >= 800 && !has('nvim') ? {} : { 'on': [], 'for': [] }
{{ if lookPath "node" -}}
" Plug 'neoclide/coc.nvim', {'branch': 'release'}
{{ end -}}
" Plug 'yegappan/lsp'
Plug 'dense-analysis/ale'
" Plug 'godlygeek/tabular', { 'on': 'Tabularize' }
" Plug 'junegunn/vim-easy-align', { 'on': [ '<Plug>(EasyAlign)', 'EasyAlign' ] }
" Plug 'vim-scripts/align', { 'on': 'Align' }
" Plug 'ghifarit53/tokyonight-vim'
Plug 'https://codeberg.org/mao-yining/vim-catppuccin'
Plug 'tmsvg/pear-tree'
Plug 'tpope/vim-surround'
Plug 'tpope/vim-repeat'
Plug 'tpope/vim-unimpaired'
Plug 'markonm/traces.vim'
" Plug 'tpope/vim-eunuch', { 'on': [ 'Remove', 'Delete', 'Move', 'Chmod', 'Mkdir', 'Cfind', 'Clocate', 'Lfind', 'Wall', 'SudoWrite', 'SudoEdit' ] }
" create non-exist dir when saving file
" Plug 'pbrisbin/vim-mkdir'
" Plug 'lambdalisue/vim-suda'
" Plug 'habamax/vim-dir'
{{ if lookPath "git" -}}
Plug 'tpope/vim-fugitive'
{{ end -}}
{{ if lookPath "git" -}}
Plug 'airblade/vim-gitgutter'
{{ end -}}
Plug 'itchyny/lightline.vim'
Plug 'lervag/vimtex', { 'for': 'tex' }
" Plug 'ourgal/vim-workspace'
Plug 'jceb/vim-orgmode'
Plug 'tpope/vim-speeddating'

call plug#end()
{{ end -}}
{{ end -}}
