{{ if or (eq .chezmoi.os "linux") (eq .chezmoi.os "android") -}}
{{ if lookPath "vim" -}}
if !has('vim9script')
    finish
endif
vim9script
class Session
    const sep: string = has("win32") ? "\\" : "/"
    const fileName: string = getcwd()->substitute(this.sep, "%", "g")->substitute(":", "%", "g")
    const folder: string = get(g:, "my_session_folder", ($MYVIMRC->fnamemodify(":p:h") .. this.sep .. "sessions")->simplify())
    const fullPath: string = this.folder .. this.sep .. this.fileName

    def new()
        if !isdirectory(this.folder)
            mkdir(this.folder, "p")
        endif
    enddef

    def Save(): void
        this.fullPath->escape("%")->printf("mksession! %s")->execute()
    enddef

    def Load(): void
        if !filereadable(this.fullPath)
            return
        endif

        this.fullPath->escape("%")->printf("source %s")->execute()
    enddef

endclass
if len(v:argv) == 1
    g:my_session = Session.new()

    augroup MySession
        au! VimEnter * ++nested g:my_session.Load()
        au! VimLeave * g:my_session.Save()
    augroup END
endif
{{ end -}}
{{ end -}}
