{{ if or (eq .chezmoi.os "linux") (eq .chezmoi.os "android") -}}
{{ if lookPath "pip" -}}
[global]
index-url = {{ .my.pip.mirror }}
[install]
trusted-host = mirrors.cernet.edu.cn
{{ end -}}
{{ end -}}
