{{ if eq .chezmoi.os "linux" "android" -}}
{{ if lookPath "fdroidcl" -}}
[[repos]]
enabled = true
id = "f-droid"
url = "https://f-droid.org/repo"
[[repos]]
enabled = false
id = "f-droid-archive"
url = "https://f-droid.org/archive"
[[repos]]
enabled = false
id = "cernet"
url = "https://mirrors.cernet.edu.cn/fdroid/repo"
[[repos]]
enabled = false
id = "nju"
url = "https://mirror.nju.edu.cn/fdroid/repo"
[[repos]]
enabled = true
id = "lzzy"
url = "https://apt.izzysoft.de/fdroid/repo"
[[setups]]
apps = [
  "me.hackerchick.raisetoanswer", # Raise To Answer, Simply hold your phone to your ear to answer an incoming call
  "spam.blocker", # SpamBlocker (Call & SMS), Spam Call/SMS blocker
  "org.moire.ultrasonic", # Ultrasonic, A music streaming client for Subsonic servers
  "org.oxycblt.auxio", # Auxio, A simple, rational music player
  "org.gateshipone.malp", # M.A.L.P., M.A.L.P. - MPD Client
  "de.badaix.snapcast", # Snapcast - multi-room audio in perfect, sync Snapcast client for Android
  "me.echeung.moemoekyun.fdroid", # LISTEN.moe, Listen to j-pop and anime music radio 24/7 ad-free
  "github.paroj.dsub2000", # DSub2000, Android client for Subsonic servers.
  "biz.binarysolutions.healthybatterycharging", # Healthy Battery Charging, Prolong the life of your battery by keeping it charged between 40% and 80%
  "org.videolan.vlc", # VLC, The best video and music player. Fast and “just works”, plays any file
  "dev.jdtech.jellyfin", # Findroid, Third-party native Jellyfin app
  "com.github.libretube", # LibreTube, Alternative YouTube frontend for Android built with Piped
  "is.xyz.mpv", # mpv-android, Listen to music and watch videos
  "org.jellyfin.mobile", # Jellyfin - your media in your hands!, Mobile client for Jellyfin, the free software media system
  "org.schabi.newpipe", # NewPipe, Lightweight YouTube frontend
  "InfinityLoop1309.NewPipeEnhanced", # PipePipe, A FLOSS Android app to let you browse YouTube, NicoNico and BiliBili freely.
  "dev.jdtech.jellyfin", # Findroid, Third-party native Jellyfin app
  "com.gianlu.aria2app", # Aria2App, An advanced download manager and aria2 client for your pocket.
  "com.prajwalch.torrentsearch", # Torrent Search, Search torrents across multiple providers simultaneously
  "org.equeim.tremotesf", # Tremotesf, Remote-control Transmission BitTorrent client
  "com.github.catfriend1.syncthingfork", # Syncthing-Fork, Wrapper for Syncthing - Open and decentralized file synchronization
  "de.felixnuesse.extract", # Round Sync - Rclone for Android, A file manager for Android, using rclone for the heavy lifting.
  "org.forkgram.messenger", # Forkgram is a fork of the official Telegram for Android application.
  "chat.simplex.app", # SimpleX Chat, SimpleX Chat - e2e encrypted messenger without any user IDs - private by design!
  "io.github.landwarderer.futon/", # Futon, Manga reader with online catalogues ( kotatsu fork )
  "ch.protonvpn.android", # ProtonVPN - Secure and Free VPN, Free Swiss VPN with advanced security and privacy features.
  "com.tailscale.ipn", # Tailscale, Mesh VPN based on WireGuard
  "com.axiel7.anihyou", # AniHyou - AniList client, Another unofficial Android AniList client
  "com.predidit.kazumi", # Kazumi, An anime collection APP based on custom rules.
  "com.example.knkpanime", # knkpanime, Anime app with multiple source and danmaku support
  "org.github.henryquan.animeone", # AnimeOne, Unofficial AnimeOne client
  "io.github.jica98", # DailyAL, Full featured MyAnimeList client made with flutter
  "org.koreader.launcher.fdroid", # KOReader, Ebook reader
  "org.kde.kdeconnect_tp", # KDE Connect, KDE Connect integrates your smartphone and computer
  "com.osfans.trime", # Trime, Chinese IME with Rime Input Method Engine
  "com.termux",
  "com.termux.api",
  "org.breezyweather", # Breezy Weather, A powerful, open-source Material Design weather app.
  "de.tnmgl.ntodotxt", # ntodotxt, Manage your todos in a todo.txt file
  "org.tasks", # Tasks.org: Open-source To-Do Lists & Reminders, Private, ad-free task lists! Optional sync with Google Tasks, CalDAV or EteSync!
  "inc.flide.vi8", # 8vim, A small screen keyboard inspired by VIM and 8Pen.
  "com.secuso.privacyFriendlyCodeScanner", # QR scanner, Privacy Friendly QR-Scanner with minimal permissions+
  "com.machiav3lli.fdroid", # Neo Store, A modern feature-rich F-Droid client
  "org.fdroid.fdroid", # F-Droid, The app store that respects freedom and privacy
  "zed.rainxch.githubstore", # App store for GitHub releases - discover and install apps with one click
  "com.aurora.store", # Aurora Store, An unofficial FOSS client to Google Play with an elegant design and privacy
  "app.pwhs.universalinstaller", # Premium APK/XAPK installer with expressive animations, Shizuku & URL downloads.
  "nodomain.freeyourgadget.gadgetbridge", # Gadgetbridge, Use your smart watch and other bluetooth devices and keep your data private!
  "eu.faircode.email", # FairEmail, Fully featured email client. Neat, intuitive user interface. Privacy friendly.
]
id = "phone"
repos = ["f-droid"]
[[setups]]
apps = [
  "me.hackerchick.raisetoanswer", # Raise To Answer, Simply hold your phone to your ear to answer an incoming call
  "spam.blocker", # SpamBlocker (Call & SMS), Spam Call/SMS blocker
  "biz.binarysolutions.healthybatterycharging", # Healthy Battery Charging, Prolong the life of your battery by keeping it charged between 40% and 80%
  "com.github.catfriend1.syncthingfork", # Syncthing-Fork, Wrapper for Syncthing - Open and decentralized file synchronization
  "de.felixnuesse.extract", # Round Sync - Rclone for Android, A file manager for Android, using rclone for the heavy lifting.
  "org.kde.kdeconnect_tp", # KDE Connect, KDE Connect integrates your smartphone and computer
  "com.osfans.trime", # Trime, Chinese IME with Rime Input Method Engine
  "org.breezyweather", # Breezy Weather, A powerful, open-source Material Design weather app.
  "com.termux",
  "com.termux.api",
  "de.tnmgl.ntodotxt", # ntodotxt, Manage your todos in a todo.txt file
  "org.tasks", # Tasks.org: Open-source To-Do Lists & Reminders, Private, ad-free task lists! Optional sync with Google Tasks, CalDAV or EteSync!
  "inc.flide.vi8", # 8vim, A small screen keyboard inspired by VIM and 8Pen.
  "com.secuso.privacyFriendlyCodeScanner", # QR scanner, Privacy Friendly QR-Scanner with minimal permissions+
  "com.machiav3lli.fdroid", # Neo Store, A modern feature-rich F-Droid client
  "org.fdroid.fdroid", # F-Droid, The app store that respects freedom and privacy
  "zed.rainxch.githubstore", # App store for GitHub releases - discover and install apps with one click
  "com.aurora.store", # Aurora Store, An unofficial FOSS client to Google Play with an elegant design and privacy
  "app.pwhs.universalinstaller", # Premium APK/XAPK installer with expressive animations, Shizuku & URL downloads.
]
id = "sub-phone"
repos = ["f-droid"]
[[setups]]
apps = [
  "com.vrem.wifianalyzer", # WiFiAnalyzer, Optimize your WiFi network
  "de.srlabs.snoopsnitch", # SnoopSnitch, Check mobile network security
  "biz.binarysolutions.healthybatterycharging", # Healthy Battery Charging, Prolong the life of your battery by keeping it charged between 40% and 80%
  "org.moire.ultrasonic", # Ultrasonic, A music streaming client for Subsonic servers
  "org.oxycblt.auxio", # Auxio, A simple, rational music player
  "org.gateshipone.malp", # M.A.L.P., M.A.L.P. - MPD Client
  "de.badaix.snapcast", # Snapcast - multi-room audio in perfect, sync Snapcast client for Android
  "me.echeung.moemoekyun.fdroid", # LISTEN.moe, Listen to j-pop and anime music radio 24/7 ad-free
  "github.paroj.dsub2000", # DSub2000, Android client for Subsonic servers.
  "org.videolan.vlc", # VLC, The best video and music player. Fast and “just works”, plays any file
  "dev.jdtech.jellyfin", # Findroid, Third-party native Jellyfin app
  "com.github.libretube", # LibreTube, Alternative YouTube frontend for Android built with Piped
  "is.xyz.mpv", # mpv-android, Listen to music and watch videos
  "org.jellyfin.mobile", # Jellyfin - your media in your hands!, Mobile client for Jellyfin, the free software media system
  "org.schabi.newpipe", # NewPipe, Lightweight YouTube frontend
  "InfinityLoop1309.NewPipeEnhanced", # PipePipe, A FLOSS Android app to let you browse YouTube, NicoNico and BiliBili freely.
  "dev.jdtech.jellyfin", # Findroid, Third-party native Jellyfin app
  "com.gianlu.aria2app", # Aria2App, An advanced download manager and aria2 client for your pocket.
  "com.prajwalch.torrentsearch", # Torrent Search, Search torrents across multiple providers simultaneously
  "org.equeim.tremotesf", # Tremotesf, Remote-control Transmission BitTorrent client
  "com.github.catfriend1.syncthingfork", # Syncthing-Fork, Wrapper for Syncthing - Open and decentralized file synchronization
  "de.felixnuesse.extract", # Round Sync - Rclone for Android, A file manager for Android, using rclone for the heavy lifting.
  "io.github.landwarderer.futon/", # Futon, Manga reader with online catalogues ( kotatsu fork )
  "com.axiel7.anihyou", # AniHyou - AniList client, Another unofficial Android AniList client
  "com.predidit.kazumi", # Kazumi, An anime collection APP based on custom rules.
  "com.example.knkpanime", # knkpanime, Anime app with multiple source and danmaku support
  "org.github.henryquan.animeone", # AnimeOne, Unofficial AnimeOne client
  "io.github.jica98", # DailyAL, Full featured MyAnimeList client made with flutter
  "org.koreader.launcher.fdroid", # KOReader, Ebook reader
  "org.kde.kdeconnect_tp", # KDE Connect, KDE Connect integrates your smartphone and computer
  "com.osfans.trime", # Trime, Chinese IME with Rime Input Method Engine
  "com.machiav3lli.fdroid", # Neo Store, A modern feature-rich F-Droid client
  "org.fdroid.fdroid", # F-Droid, The app store that respects freedom and privacy
  "zed.rainxch.githubstore", # App store for GitHub releases - discover and install apps with one click
  "com.aurora.store", # Aurora Store, An unofficial FOSS client to Google Play with an elegant design and privacy
  "org.breezyweather", # Breezy Weather, A powerful, open-source Material Design weather app.
  "com.catpuppyapp.puppygit.play.pro", # PuppyGit Pro is a Git client for Android. Open Source, no Ads and free to use.
  "com.droidvim",
  "inc.flide.vi8", # 8vim, A small screen keyboard inspired by VIM and 8Pen.
  "com.termux.nix",
  "com.secuso.privacyFriendlyCodeScanner", # QR scanner, Privacy Friendly QR-Scanner with minimal permissions+
  "app.pwhs.universalinstaller", # Premium APK/XAPK installer with expressive animations, Shizuku & URL downloads.
  "net.cozic.joplin", # Joplin, A note taking and to-do app with sync between Linux, macOS, Windows, and mobile
  "com.streetwriters.notesnook", # Notesnook, A fully open source & end-to-end encrypted note taking app
  "org.b3log.siyuan", # SiYuan, A privacy-first, self-hosted knowledge management app
  "de.circle_dev.flux_news", # Flux News, Newsreader for miniflux backend
  "de.schliweb.makeacopy", # MakeACopy, Privacy-focused document scanner with OCR and PDF export
  "com.dking.crocapp", # croc-app, Modern client for croc, easily and securely send files and text
  "deckers.thibault.aves.libre", # Aves Libre, Gallery and metadata explorer
  "eu.darken.capod", # CAPod - Companion for AirPods, CAPod is a companion app for AirPods on Android.
  "com.kunzisoft.keepass.libre", # KeePassDX Passkey Vault, Manage Passkey / Password in a local and open-source vault
  "com.ismartcoding.plain", # PlainApp: Phone Web Portal, Manage your phone on the web! Access files, contacts, videos, music & more.
  "com.aistra.hail", # Hail, Freeze Android apps
  "com.arslan.shizuwall", # ShizuWall, Lightweight no root, no vpn firewall solution powered by Shizuku
  "com.leekleak.trafficlight", # Traffic Light, Track your network and data usage with privacy
]
id = "tablet"
repos = ["f-droid"]
{{ end -}}
{{ end -}}
