{{ if eq .chezmoi.os "windows" "linux" "android" -}}
{{ if or (lookPath "msys2") (lookPath "fish") -}}
if status is-interactive
{{ if eq .chezmoi.os "android" -}}
fish_add_path --append ~/.local/bin
set -x SSH_AUTH_SOCK $PREFIX/var/run/ssh-agent.socket
{{ end -}}
{{ if includeTemplate "opt" (dict "chezmoi" .chezmoi "my" .my "cmd" (list "bash" "zoxide") "opt" (list "shell" "fish" "oh_my_posh" "enable") "os" (list "linux" "android")) | trim | atoi -}}
{{ output "oh-my-posh" "init" "fish" }}
{{ end -}}
{{ if includeTemplate "opt" (dict "chezmoi" .chezmoi "my" .my "cmd" (list "bash" "zoxide") "opt" (list "shell" "fish" "fzf" "enable") "os" (list "linux" "android")) | trim | atoi -}}
{{ if or (lookPath "mcfly") (lookPath "atuin") -}}
{{ output "env" "FZF_CTRL_R_COMMAND=" "fzf" "--fish" }}
{{ else -}}
{{ output "fzf" "--fish" }}
{{ end -}}
{{ end -}}
{{ if includeTemplate "opt" (dict "chezmoi" .chezmoi "my" .my "cmd" (list "bash" "zoxide") "opt" (list "shell" "fish" "mcfly" "enable") "os" (list "linux" "android")) | trim | atoi -}}
{{ output "mcfly" "init" "fish" }}
{{ end -}}
{{ if includeTemplate "opt" (dict "chezmoi" .chezmoi "my" .my "cmd" (list "bash" "zoxide") "opt" (list "shell" "fish" "navi" "enable") "os" (list "linux" "android")) | trim | atoi -}}
{{ output "navi" "widget" "fish" }}
{{ end -}}
{{ if includeTemplate "opt" (dict "chezmoi" .chezmoi "my" .my "cmd" (list "bash" "zoxide") "opt" (list "shell" "fish" "carapace" "enable") "os" (list "linux" "android")) | trim | atoi -}}
{{ output "carapace" "_carapace" "fish" }}
{{ end -}}
{{ if lookPath "eza" -}}
{{ $opts := "--git --icons auto --group --group-directories-first --time-style relative"}}
function ls
    eza {{ $opts }} $argv
end

function ll
    eza -l {{ $opts }} $argv
end
{{ end -}}
{{ if lookPath "nnn" -}}
# Rename this file to match the name of the function
# e.g. ~/.config/fish/functions/n.fish
# or, add the lines to the 'config.fish' file.

function n --wraps nnn --description 'support nnn quit and change directory'
    # Block nesting of nnn in subshells
    if test -n "$NNNLVL" -a "$NNNLVL" -ge 1
        echo "nnn is already running"
        return
    end

    # The behaviour is set to cd on quit (nnn checks if NNN_TMPFILE is set)
    # If NNN_TMPFILE is set to a custom path, it must be exported for nnn to
    # see. To cd on quit only on ^G, remove the "-x" from both lines below,
    # without changing the paths.
    if test -n "$XDG_CONFIG_HOME"
        set -x NNN_TMPFILE "$XDG_CONFIG_HOME/nnn/.lastd"
    else
        set -x NNN_TMPFILE "$HOME/.config/nnn/.lastd"
    end

    # Unmask ^Q (, ^V etc.) (if required, see `stty -a`) to Quit nnn
    # stty start undef
    # stty stop undef
    # stty lwrap undef
    # stty lnext undef

    # The command function allows one to alias this function to `nnn` without
    # making an infinitely recursive alias
    command nnn $argv

    if test -e $NNN_TMPFILE
        source $NNN_TMPFILE
        rm -- $NNN_TMPFILE
    end
end
{{ end -}}
{{ if includeTemplate "opt" (dict "chezmoi" .chezmoi "my" .my "cmd" (list "bash" "zoxide") "opt" (list "shell" "fish" "zoxide" "enable") "os" (list "linux" "android")) | trim | atoi -}}
{{ output "zoxide" "init" "fish" }}
{{ end -}}
end
{{ end -}}
{{ end -}}
