{{ if eq .chezmoi.os "windows" "linux" "android" -}}
{{ if or (lookPath "msys2") (lookPath "fish") -}}
if status is-interactive
{{ if lookPath "oh-my-posh" -}}
oh-my-posh init fish | source
{{ end -}}
{{ if lookPath "zoxide" -}}
zoxide init fish | source
{{ end -}}
{{ if lookPath "fzf" -}}
fzf --fish | source
{{ end -}}
{{ if lookPath "mcfly" -}}
mcfly init fish | source
{{ end -}}
{{ if lookPath "navi" -}}
navi widget fish | source
{{ end -}}
{{ if lookPath "carapace" -}}
carapace _carapace | source
{{ end -}}
{{ if lookPath "eza" -}}
{{ $opts := "--git --icons auto --group --group-directories-first --time-style relative"}}
function ls
    eza {{ $opts }} $argv
end

function ll
    eza -l {{ $opts }} $argv
end
{{ end -}}
end
{{ end -}}
{{ end -}}
