{{ if includeTemplate "opt" (dict "chezmoi" .chezmoi "my" .my "cmd" "mpv" "opt" (list "mpv" "plugins" "clipshot") "os" "windows") | trim | atoi -}}
{{ template "include" (joinPath .chezmoi.homeDir ".local" "share" "repos" "ObserverOfTime_mpv-scripts" "clipshot.lua") }}
{{ end -}}
