{{ if includeTemplate "opt" (dict "chezmoi" .chezmoi "my" .my "cmd" "mpv" "opt" (list "mpv" "plugins" "smart_copy_paste") "os" "windows") | trim | atoi -}}
{{ template "include" (joinPath .chezmoi.homeDir ".local" "share" "repos" "Eisa01_mpv-scripts" "scripts" "SmartCopyPaste.lua") }}
{{ end -}}
